<a href="#" data-toggle="modal" data-target="#anubhavSinha">Go today - Anubhav Sinha</a>

<div class="modal fade bs-example-modal-lg" id="anubhavSinha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Go today</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 20th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 9:25 am to 9:50 am (IST)
			</div>
			<p>
				A survey of how go has been successfully used till now by various startups in building up their engineering stack. I will be covering lot of interesting case studies and story telling on where exactly Go fits in the current startup culture.
			</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/anubhav-sinha.jpg)"></div>
			<span class="name">Anubhav Sinha</span>
            <span class="company"><a href="https://twitter.com/dockerbook" target="_blank"><i class="fa fa-twitter fa-fw"></i> @dockerbook</a></span>
			<hr />
            <div class="speaker-desc">
				Anubhav is a full-stack developer who uses Python, Go and JavaScript heavily for day to day tasks. He has extensive experience in writing polyglot applications and architecting multi-tier scalable application architectures on cloud platforms like AWS and GAE. He is very passionate about DevOps best practices using Docker and has programmed applications from varied domains like Genomics, Internet of Things, Computer Vision, Machine Learning and Mobile Applications. Anubhav is an Amazon AWS certified developer and architect. He is also a Google certified digital marketeer. He is also author of the book on the trendy linux containerization technology titled 'Docker for everything' scheduled to be published soon.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
