<p>
Koramangala is another of Bangalore's hip and happening party and food districts, housing restaurants specializing in any cuisine you can think of. It is 4 kms from Royal Orchid down a straight road – the intermediate ring road. Koramangala has super interesting street-side joints, standing shoulder to shoulder with their more sophisticated, up-market cousins. An interesting Rajasthani place, a hole-in-the-wall Tibetian joint, Bhajji Carts, Pao Bhaji vans … lots to explore in this part of the city.  
</p>
<p>
(Quick advice on the traffic scene. Getting from Royal Orchid to Koramangala can take anywhere from 7 mins to 45 mins – it is a simple function of the time of day and traffic scenario. During office hours (read 8:30 AM – 10:30 AM and 5:30 PM – 7:30 PM) the 45 min time frame is what you should budget for.)
</p>
<p>
It’s worth splitting Koramangala into two sections. The area around <strong>Jyoti Nivas College</strong> has a buzzing student vibe. Then there is <strong>80 ft Rd Koramangala</strong> that has what could be called the Koramangala Food Street for the string of street-side food stalls it hosts. (Koramangala actually had a food street (<a href="http://www.talkingstreet.in/do-not-miss-stalls-the-koramangala-food-street/" target="_blank">read about it here</a>) which was relocated by the Municipal authorities a few months ago. There is hope that the authorities will allow the vendors to come back and set up the street the way it was but for now all the vendors have relocated from there.)
</p>

<div class="gci-heading gci-heading-3">Jyoti Nivas College (JNC)</div>
<p>Like the area surrounding any college, the streets around JNC are dotted with a variety of eateries and street food stalls patronised for good reason by the students whom they serve.</p>
<p>Here are a few that you could check out:</p>

<div class="clearfix">
	<div class="cards">
		<div>
			<img src="{{ site.github_project_name }}/2016/images/food/hatti_kaapi2.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/hatti-kaapi/" target="_blank">Hatti Kaapi</a> - Superlative filter coffee. Best of South-Indian tiffin snacks – Maddur Vada, Masala Bun, Vada Pao, Idly, Vada. Hazelnut Cold Coffee.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2016/images/food/khawa_karpo.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/khawa-karpo-little-tibet-koramangala/" target="_blank">Khawa Karpo</a> – Hole-in-the-wall Tibetan joint frequented by students. Thukpa, Honey Potato Wedges, Ting-Mo and Chicken Shap-tak.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2016/images/food/juice-junction.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/juice-junction-jyoti-nivas-college-koramangala/" target="_blank">Juice Junction</a> – Freshly prepared fruit juices, fruit salad.
			</p>
		</div>	
		<div>
			<img src="{{ site.github_project_name }}/2016/images/food/soori-chats.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/soori-chaats-jyoti-nivas-college/" target="_blank">Soori Chats </a> – South-Indian Bhel Puri. 
			</p>
		</div>
	</div>
</div>

<br clear="all" />

<p>
String them together to form the <a href="http://www.talkingstreet.in/street-food-trail-jyoti-nivas-college-koramangala/" target="_blank">Koramangala Jyoti Nivas Food Trail</a>. This area is full of eateries of varying budgets. Among the mid-range restaurants you could also try Meghana Biryani for Andhra style biryani, Empire Restaurant for Dosa Chicken and Truffles Ice and Spice for continental cuisine. 
</p>

<br clear="all" />

<div class="clearfix"></div>

<div class="gci-heading gci-heading-3">80-ft road Koramangala </div>
<p>After the Koramangala Food Street ran into trouble with the municipal authorities, this has become the next most famous string of street food joints in this area. </p>

<div class="row">
	<div class="cards">
		<div>
			<img src="{{ site.github_project_name }}/2016/images/food/99varieties.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/99-varieties-dosa/" target="_blank">99 Varieties Dosa</a> – Dosas with a twist. Served with a red curry and different customized fillings such as mushrooms, paneer, cheese, cauliflower, peas, spinach, baby corn etc. 
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2016/images/food/default-food-image.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/momo-counter-sony-signal-koramangala/" target="_blank">Momo Counter</a> – Veg and Chicken momos served hot. 
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2016/images/food/mumbai-pav.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/bombay-pao-bhaji-koramangala-80ft-road/" target="_blank">Mumbai Pao Bhaji Van</a> – Pao Bhaji that has been certified by die-hard Mumbai pao bhaji fans to be authentic Chowpati Pao Bhaji. 
			</p>
		</div>
	</div>	
</div>

<br clear="all" />
<div class="clearfix"></div>


<p>Further up this road are some interesting street-side eateries such as <strong>Rolls on Wheels</strong> for good Kati Rolls and Mumbai Kulfi (an Indian version of Ice-creams. Totally worth a try!) and <strong>Bhukaad</strong> which does good sandwiches. There are also some cozy cafés such as <strong>Claytopia</strong> and <strong>Mustard Café</strong> serving continental main course and great desserts. </p>