<section id="about" class="container content-section homepage">
  <div class="row">
	<div class="col-lg-3 sticker">
			<span class="text-center pull-right">
				<img src="{{ site.github_project_name }}/images/gophercon-con-logo.png" alt="gophercon" style="margin-top:36px;"/>
				<span style="display:block; font-size:10px;margin-top:16px;">POWERED BY</span>
				<a href="//google.com" target="_blank"><img src="{{ site.github_project_name }}/images/google-logo-white.png" alt="gophercon" style="margin-top:10px;"/></a>
			</span>
	</div>
    <div class="col-lg-9">
      <div class="clear-fix">

        <div style="overflow: hidden; padding-top:30px; padding-left:20px;">
          <h2>What is GopherCon India ?</h2>
          <div class="head-first-ever">The First-Ever Go Conference in India</div>
          <p class="home-paragraph">Go is an open source project developed by a team at <a href="https://www.google.co.in" target="_blank">  Google </a> and many <a href="http://golang.org/CONTRIBUTORS" target="_blank">contributors</a> from the open source community.</p>
          <p class="home-paragraph">Go makes it easy to build simple, reliable, and efficient software.</p>
          <p> This conference is brought to you by the Go Language Community in India together with the Innovation And Technology Trust (ITT). The ITT is a non-profit organization, established to organize and conduct technology conferences in India. It's current portfolio includes RubyConf India, GopherCon India and DevOpsDays India.</p>
          <p>We love going to conferences that don't make you choose between two great presentations. So we created GopherConIndia as a single-track event that you don't want to miss and where everyone gets the opportunity to see the same talks. We think you'll enjoy the speakers we're lining up so much, you won't want to miss anyone of them. Friday and Saturday will offer full days of conference sessions.</p>

          <p class="strong">Note: The conference is entirely in English.</p>
        </div>
      </div>
    </div>
  </div>
</section>