<!-- Footer Section -->
<footer>
  <div class="container footer-container-padding">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline">
          <li><a href="{{ site.github_project_name }}/#page-top">Home</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li><a href="{{ site.github_project_name }}/#about">About</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li><a href="{{ site.github_project_name }}/call-for-proposal/">Speaking</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li><a href="{{ site.github_project_name }}/#sponsor">Sponsors</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li><a href="{{ site.github_project_name }}/#contact">Contact</a></li>
        </ul>
        <p class="copyright text-muted small"> © 2014-2015, <a href="http://gophercon.in/">GopherCon.in</a> All Rights Reserved. </p>
      </div>
      <div class="col-md-6 ft-logo">
			<br />
			<span>Website by</span>
			<a href="//qwinixtech.com" target="_blank"><img src="{{ site.github_project_name }}/images/qwinix-logo.png" alt="Qwinix Technologies (P) Ltd" /></a>
      </div>

    </div>
	<div class="row">
		 <p class="text-muted small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*The Gopher character is based on the Go mascot designed by Renée French and copyrighted under the Creative Commons Attribution 3.0 license.</p>
	</div>
  </div>
</footer>

{% include js.html %}
