---
layout: page
title: Maheima Kapoor's Street Food Guides
---

<div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
        <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-captions" data-slide-to="1"></li>
        <li data-target="#carousel-example-captions" data-slide-to="2"></li>
		<li data-target="#carousel-example-captions" data-slide-to="3"></li>
		<li data-target="#carousel-example-captions" data-slide-to="4"></li>
     </ol>
	<div class="carousel-inner" role="listbox">
		 <div class="item active">
			<div id="map_wrapper">
				<div id="map_canvas" class="mapping"></div>
			</div>
        </div>
        <div class="item">
          <img src="{{ site.github_project_name }}/images/food/slider1.jpg" alt="BLR street food spl.">
          <div class="carousel-caption">
            <h3>BLR Street Food Special</h3>
          </div>
        </div>
		<div class="item">
          <img src="{{ site.github_project_name }}/images/food/slider2.jpg" alt="BLR street food spl.">
          <div class="carousel-caption">
            <h3>BLR Street Food Special</h3>
          </div>
        </div>
        <div class="item">
          <img src="{{ site.github_project_name }}/images/food/slider3.jpg" alt="BLR street food spl.">
          <div class="carousel-caption">
            <h3>BLR Street Food Special</h3>
          </div>
        </div>
		<div class="item">
          <img src="{{ site.github_project_name }}/images/food/slider4.jpg" alt="BLR street food spl.">
          <div class="carousel-caption">
            <h3>BLR Street Food Special</h3>
          </div>
        </div>
	</div>
</div>

<br clear="all" />
<div class="row">
<div class="col-lg-4"><a href="#" class="btn btn-tab btn-tab-active btn-lg btn-block btn-falt" onclick="javascript:return fnShow(this,'indranagar')">Indranagar</a></div>
<div class="col-lg-4"><a href="#" class="btn btn-tab btn-lg btn-block btn-falt" onclick="javascript:return fnShow(this,'vvpuram')">VV Puram</a></div>
<div class="col-lg-4"><a href="#" class="btn btn-tab btn-lg btn-block btn-falt" onclick="javascript:return fnShow(this,'koramangala')">Koramangala</a></div>
</div>
<br clear="all" />
<div class="food-body">
<div id="indranagar">{% include blr-street-food/_indranagar.html %}</div>
<div id="vvpuram" class="hidden">{% include blr-street-food/_vvpuram.html %}</div>
<div id="koramangala" class="hidden">{% include blr-street-food/_koramangala.html %}</div>
</div>
<style>
.carousel-caption{ background-color:rgba(0, 0, 0, .4); top:20px; bottom:auto!important; left:0px; right: 0px; padding:0px;}
.carousel-caption h3{ text-transform:none; letter-spacing:1px; }
.food-body, .food-body p{ font-size:14px;  }
ol { padding-left:20px;}
ol.bullet1 { padding-left:20px; list-style:none; list-style-image:url('{{ site.github_project_name }}/images/food/bullet1.png')}
ol.bullet2 { padding-left:20px; list-style:none; list-style-image:url('{{ site.github_project_name }}/images/food/bullet2.png')}
ol.bullet3 { padding-left:20px; list-style:none; list-style-image:url('{{ site.github_project_name }}/images/food/bullet3.png')}
ol li{ padding-bottom:10px; }
p.footer{ font-size:12px; }
.btn-tab{background-color:#e6e6e6;border-bottom:10px solid #292c33;color:#757575;}
.btn-tab-active, .btn-tab:hover{background-color:#dcdcdc;color:#292c33;border-bottom:10px solid #cd853f;}

.cards {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 6;
   -webkit-column-gap:   0px;
   -moz-column-count:    6;
   -moz-column-gap:      0px;
   column-count:         6;
   column-gap:           0px;
   
}
.cards div{
	margin:2px;
	border-radius:6px;
	padding-bottom:10px;
	border:1px solid #dedede;
	display:inline-block;
}
.cards div img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  border-radius:6px 6px 0px 0px;
  height: auto !important;
  float:left;
  margin-bottom:14px;
}
.cards div p{
	padding:10px;
	margin-bottom:0px;
	display:block;
}

@media (max-width: 1200px) {
  .cards {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .cards {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .cards {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .cards {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

#map_wrapper {height: 400px; width:100%; }
#map_canvas { width: 100%; height: 100%; }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
function fnShow(_obj, _div){
	$("#indranagar, #vvpuram, #koramangala").addClass("hidden");
	$("#"+_div).removeClass("hidden");
	$(_obj).parent().parent().find("a").removeClass("btn-tab-active");
	$(_obj).addClass("btn-tab-active");
	return false;
}


    
        jQuery(function ($) {
            // Asynchronously Load the map API 
            var script = document.createElement('script');
            script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
            document.body.appendChild(script);
        });

        function initialize() {
            var map;
            var bounds = new google.maps.LatLngBounds();
            var mapOptions = {
                mapTypeId: 'roadmap'
            };

            // Display a map on the page
            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            map.setTilt(45);

            // Multiple Markers
            var markers = [
                ['Anand Sweets, Bangaluru', 12.959774, 77.645156],
                ['Chai Point, Bangaluru', 12.960052507793, 77.64496743679],
                ['Srinidhi Sagar', 12.960460273396, 77.645702362061]
            ];

            // Info Window Content
            var infoWindowContent = [
                ['<div class="info_content">' +
                            '<h3>Anand Sweets</h3>' +
                            '<p>Delhi-style Chaat. Wide variety of sweets -each one worth trying if you can afford the calories.</p>' + '</div>'],
                ['<div class="info_content">' +
                            '<h3>Chai Point</h3>' +
                            '<p>A small multi-outlet tea joint that serves refreshing teas (hot and cold, with milk / without milk) and Indian snacks – vada pao, samosa and patties.</p>' +
                            '</div>'],
                ['<div class="info_content">' +
                            '<h3>Srinidhi Sagar</h3>' +
                            '<p>Simply superb South-Indian Tiffin. Good Chaat. Full meals – North-Indian / South-Indian / Chinese. Filter coffee. Lemon tea. Regular Chai.</p>' +
                            '</div>']
            ];

            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            // Loop through our array of markers & place each one on the map  
            for (i = 0; i < markers.length; i++) {
                var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                bounds.extend(position);
                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: markers[i][0]
                });

                // Allow each marker to have an info window    
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infoWindow.setContent(infoWindowContent[i][0]);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));

                // Automatically center the map fitting all markers on the screen
                map.fitBounds(bounds);
            }

            // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
            var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                this.setZoom(18);
                google.maps.event.removeListener(boundsListener);
            });

        }
    

</script>
