<a href="#" data-toggle="modal" data-target="#upadhyay">An alternate approach to data - Amit Upadhyay</a>

<div class="modal fade bs-example-modal-lg" id="upadhyay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">An alternate approach to data</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 20th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 11:30 am to 12:00 Noon (IST)
			</div>
			<p>We all love our SQL databases, and the the NoSQL ones, but access to golang, with close to native performance, and ease of writing services, provides us with a totally different approach to data, storing data in memory in applicate dependent data structures.</p>
			<p>This talk will discusses the pros and cons of doing data yourself, vs using other databases, various complications and gotchas that may be encountered, and technical review of a server I wrote, which deals with persistence, testing and migrations.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/amit-upadhyay.jpg)"></div>
			<span class="name">Amit Upadhyay</span>
            <span class="company"><a href="https://twitter.com/amitu" target="_blank"><i class="fa fa-twitter fa-fw"></i> @amitu</a></span>
			<hr />
            <div class="speaker-desc">Amit Upadhyay, "amitu", is the VP-Engineering of BrowserStack. Previously Amit has worked with startups in India, US and Chile. An open source enthusiast and evangelist, he is the creator of [importd](https://github.com/amitu/importd), and a few [other open source projects](http://github.com/amitu).
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
