<a href="#" data-toggle="modal" data-target="#beyang">How we test a large-scale Go web app - Beyang Liu</a>

<div class="modal fade bs-example-modal-lg" id="beyang" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">How we test a large-scale Go web app</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 20th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 3:10 pm to 3:35 pm (IST)
			</div>
			<p>Nearly every programmer agrees that testing is important. But tests can also be slow to run or annoying to write. I'll discuss how we've structured the tests for Sourcegraph, a large-scale Go web app. I'll talk about the different types of tests we have, from unit to integration tests, and share some patterns we've found useful for writing tests that are concise, reliable, and fast.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/beyang-liu.jpg)"></div>
			<span class="name">Beyang Liu</span>
            <span class="company"><a href="https://twitter.com/beyang" target="_blank"><i class="fa fa-twitter fa-fw"></i> @beyang</a></span>
			<hr />
            <div class="speaker-desc">
				Beyang is co-creator of Sourcegraph, an intelligent code search engine built with Go. Before Sourcegraph, he worked on data analysis and visualization software at Palantir and conducted research in computer vision and machine learning at Stanford University. He also plays the fiddle and lives in San Francisco.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
