<a href="#" data-toggle="modal" data-target="#brad">Opening Keynote - Introducing Go 1.6: asymptotically approaching boring - Brad Fitzpatrick</a>

<div class="modal fade bs-example-modal-lg" id="brad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Introducing Go 1.6: asymptotically approaching boring</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 9:00 am to 9:45 am (IST)
			</div>
			<p>Talking about how boring (mature) Go has become, and why, and the history of what enabled us to get there, and exciting points along the way.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/bradf.jpg)"></div>
			<span class="name">Brad Fitzpatrick</span>
            <span class="company"><a href="https://twitter.com/bradfitz" target="_blank"><i class="fa fa-twitter fa-fw"></i> @bradfitz</a></span>
			<hr />
            <div class="speaker-desc">Brad Fitzpatrick loves to travel, hack on fun projects, make things, learning languages [poorly], scuba dive, {bi,motor}cycle, run, eat, drink. Dorky stuff he has created or worked on: LiveJournal, Danga, memcached, MogileFS, Perlbal, Gearman, OpenID, PubSubHubbub, Android performance/framework, WebFinger, Go, ...</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
