<a href="#" data-toggle="modal" data-target="#changSau">Developing multi-lingual and multi-platform web applications - Chang Sau Sheong</a>

<div class="modal fade bs-example-modal-lg" id="changSau" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Developing multi-lingual and multi-platform web applications</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 21st February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 2:45 pm to 3:10 pm (IST)
			</div>
			<p>
				We often build our software applications like the Pyramids of Giza -- to last an eternity -- without realising that by the time we complete 
				our  masterpiece, the libraries we use to build it with, or even the programming language with use has moved on. Meanwhile, the requirements 
				for our eternal monument has changed, our business model has pivoted and we're left to scramble to catch up.
				<br ><br >
Instead of building static monoliths, we should build for gradual and eventual changes. Instead of building with a fixed set of 
tools — programming languages and libraries -- we should embrace multiple programming languages and libraries, all used within the same application.
				<br ><br >
Polyglot is a web framework (partly written in Go) built for this purpose. Polyglot enables programmers to build dynamically scalable and extensible 
web applications, using multiple programming languages, or versions of programming languages and libraries, at the same time.
				<br ><br >
In this talk, I will introduce Polyglot and show how a single web application can be developed in multiple programming languages, 
and run in multiple platforms. I will also show how new features can be dynamically added to the same application, allowing us to gradually grow our 
application.
			</p>
		</div>
		<div class="col-sm-4">
		
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/sau-sheong-chang.jpg)"></div>
			<span class="name">Sau Sheong Chang</span>
            <span class="company"><a href="//twitter.com/sausheong" target="_blank"><i class="fa fa-twitter fa-fw"></i> @sausheong</a></span>
			<hr />
            <div class="speaker-desc">
				Sau Sheong is the Director of Regional Solutions Engineering for PayPal, managing teams that deliver products that are needed by business units in the 
				respective regions. Previously, he was the Director of HP Labs Singapore, responsible for managing a team of research scientists and engineers focusing 
				on researching and developing cloud computing and Big Data technologies for HP. Before joining HP, he was the Chief Technology Officer for Garena and 
				Director of Engineering for Yahoo! Southeast Asia. <br /><br />

				Sau is an active developer on many open source projects and has published 3 technical books. His latest is 'Exploring Everyday Things with R 
				and Ruby' with O'Reilly Media, which explores how one can discover the data that is intertwined with our daily lives.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>