<a href="#" data-toggle="modal" data-target="#david">High performance git infrastructure with Go - David Calavera</a>

<div class="modal fade bs-example-modal-lg" id="david" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">High performance git infrastructure with Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 21st February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 1:30 pm to 1:55 pm (IST)
			</div>
			<p>At Code Climate, we analyze thousands of git repositories every day. People give us access to their code as we sweep secured copies synchronized with their remotes at all times. We use these copies to extract meaningful information to process.</p>
			<p>Over time, managing all these repositories turned into a single point of failure in our platform. This talk is about how we used Go to turn this single point of failure into a reliable, distributed and scalable platform. We'll talk about how we use projects like Groupcache, Libgit2 and Vulcan. We'll also talk about why we chose protocol buffers as a communication layer between git and the rest of Code Climate.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/david-calavera.jpg)"></div>
			<span class="name">David Calavera</span>
            <span class="company"><a href="https://twitter.com/calavera" target="_blank"><i class="fa fa-twitter fa-fw"></i> @calavera</a></span>
			<hr />
            <div class="speaker-desc">
				David is a developer with more than 10 years of experience building large systems. At Code Climate, he works on building the infrastructure that makes Code Climate's analysis tools fast and reliable. In previous lives he built cloud platforms for Engine Yard and Enterprise applications for GitHub.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
