<a href="#" data-toggle="modal" data-target="#gabrielAszalos">The Gopher from the Future - Gabriel Aszalos</a>

<div class="modal fade bs-example-modal-lg" id="gabrielAszalos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">The Gopher from the Future</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 20th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 9:00 am to 9:25 am (IST)
			</div>
			<p>
				The talk will be about best practices and conventions when writing software in a collaborative environment (in a team, on a large project) with concrete examples from the Go language. It will show people how to name things, how to write documentation, how to make testable code. It is called "The Gopher from the Future" because when writing software it is very important to keep in mind the developer (gopher) that will work on it in the future, and how easy it will be for him to understand and extend your code.
			</p>
			<p>If time allows, I might also touch upon all the possibilities that the standard library gives us when developing software and how using third-party libraries might sometimes come with a cost, even though initially they might seem to help.</p>
            <p>It will be inspired from information that I've collected from the community, personal experiences and learnings by working on Go projects (large and small), general programming experience and advice given out by key Go community members such as Andrew Gerrand, Dave Cheney, Francesc Campoy, and many others, via means of conferences, workshops and social media / groups.
			</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/gabriel-aszalos.jpg)"></div>
			<span class="name">Gabriel Aszalos</span>
            <span class="company"><a href="https://twitter.com/gabrielaszalos" target="_blank"><i class="fa fa-twitter fa-fw"></i> @gabrielaszalos</a></span>
			<hr />
            <div class="speaker-desc">
				Gabriel has been passionate about programming for over 15 years and has journeyed through several languages, but felt most strongly about C, JavaScript and now Go! Among other companies, he currently works with Thomson Reuters as a JavaScript engineer, but also being a notably active contributor to both <a href="https://github.com/gbbr" target="_blank">open-source and private projects</a>.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
