<a href="#" data-toggle="modal" data-target="#lakshan">Raytracing in Go - Guillaume J. Charmes</a>

<div class="modal fade bs-example-modal-lg" id="lakshan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Raytracing in Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 21st February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 4:05 pm to 4:30 pm (IST)
			</div>
			<p>Ray Tracing is a technique for generating 3D images by tracing paths of light through pixels in an image plane to simulate the effects light encounters with virtual objects. The technique is capable of producing high quality images but requires great computational costs. In this talk, I will show how and why Go is a great language for implementing these types of resources demanding algorithms. I will show how the language syntax and features and the built-in concurrency support makes Go a perfect choice.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/guillaume-j-charmes.jpg)"></div>
			<span class="name">Guillaume J. Charmes</span>
            <span class="company"><a href="https://twitter.com/charme_g" target="_blank"><i class="fa fa-twitter fa-fw"></i> @charme_g</a></span>
			<hr />
            <div class="speaker-desc">
				<p>French first, Software Developer second. He loves to travel and used to live in France, China, Russia, Réunion, San Francisco, Chicago and Miami. He also likes to travel between technologies and languages: He jumped from C and ASM to PHP to fall into Python to then migrate to Go with some sides of Ruby. He is coming from a low-level ASM/C background which he uses to teach as well as for web security.</p>
				<p>He started using Go since 2009 and fell in love with the syntax and concurrency model. He joined dotCloud, inc where he was the only Go developer for a while. This is when they started Docker..., in Go. Arrived to Docker 1.0, he moved on to Citrix, Inc under the sun of Florida where he helps the moving process from Ruby to Go.</p>
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
