<a href="#" data-toggle="modal" data-target="#chen">Develop and manage large scale of Go web application</a> - <a href="#">Jiahua Chen</a>

<div class="modal fade bs-example-modal-lg" id="chen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Develop and manage large scale of Go web application</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 20th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 12:00 pm to 12:30 pm (IST)
			</div>
			<p>
				Gogs, as a self-hosted Git service web application, it is very different from those applications that only work on command line interface or as services. 
				Gogs is large scale web application whose codebase is rapidly growing, there are many lessons from developing and managing this kind of application. Gogs 
				also faces challenges of distributing different versions to customers, 
				which requires a good dependency management mechanism.
			</p>
		</div>
		<div class="col-sm-4">
		<div class="col-sm-7 image center">
			<div class="image-box">
                <img alt="" src="{{ site.github_project_name }}/images/speakers/jiahua-chen.jpg">
            </div>
			</div>
			<br clear="all" />
			<span class="name">Jiahua Chen</span>
            <span class="company"><a href="//twitter.com/joe2010xtmf" target="_blank"><i class="fa fa-twitter fa-fw"></i> @joe2010xtmf</a></span>
			<hr />
            <div class="speaker-desc">
				Jiahua Chen is a Gopher, web application developer and open source author, who is also the creator of
                        <a href="https://gowalker.org" target="_blank">Go Walker</a>, <a href="https://github.com/gpmgo/gopm" target="_blank">Gopm</a>,
                        <a href="http://gogs.io" target="_blank">Gogs</a> and <a href="https://github.com/Unknwon/macaron" target="_blank">Macaron</a><wbr>.
                        He is very active on the GitHub and named himself "coding addict". Besides, he is a video course maker and publisher as verified
                        teacher at <a href="http://study.163.com/u/Obahua" target="_blank">NetEase Cloud Class</a> and
                        <a href="http://www.ucai.cn/4347.html" target="_blank">UCAI</a>, his mission is to inspirit more people to learn Go in China.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>