<a href="#" data-toggle="modal" data-target="#julia">Go for Front End Developers - Julia Poladsky</a>

<div class="modal fade bs-example-modal-lg" id="julia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Go for Front End Developers</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 20th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 1.30 pm to 2.00 pm (IST)
			</div>
			<p>Go is perceived as a systems programming language for developers who develop complex backend software and infrastructure. In her talk, she will show how front end developers don't need to shy away from Go. Go's syntax, standard library, documentation and community make Go accessible to front end developers of all technical levels.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/julia-allyce-poladsky.jpg)"></div>
			<span class="name">Julia Poladsky</span>

			<hr />
            <div class="speaker-desc">Julia Poladsky is a Frontend Developer for CommericialTribe in Denver, CO. Her expertise is in designing and developing client side applications. She has worked with a number of different web based technologies such as PHP, Node.js and now Go. She is self taught and has been hacking web design and development since the age of twelve.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
