<a href="#" data-toggle="modal" data-target="#jyotiska">Image Processing in Scale with Go - Jyotiska NK</a>

<div class="modal fade bs-example-modal-lg" id="jyotiska" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Image Processing in Scale with Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 21st February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 3:40 pm to 4:05 pm (IST)
			</div>
			<p>One of Golang's seldom-explored area is the ability to leverage concurrency for image processing in scale. At DataWeave, we process millions of images daily that come to our data pipeline and we have been successfully able to use port our image processing infrastructure from Python to Go. This talk will explore our journey of how using the OpenCV bindings, native image package and few other packages we have open-sourced, we have been able to scale our infrastructure in production.</p>
            <p>Following is a v0.1 outline of the talk:</p>
			<ol>
				<li>Covering available packages for image processing - Gobot OpenCV, image, go-graphics</li>
				<li>Our use case</li>
				<li>Challenges - missing packages and libraries</li>
				<li>Bridging the gap - make your own package</li>
				<li>Challenges in deploying in production</li>
				<li>Success!</li>
            </ol>				
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/jyotiska.jpg)"></div>
			<span class="name">Jyotiska NK</span>
            <span class="company"><a href="https://twitter.com/jyotiska_nk" target="_blank"><i class="fa fa-twitter fa-fw"></i> @jyotiska_nk</a></span>
			<hr />
            <div class="speaker-desc">
				<p>Jyotiska works as Data Engineer in the Products Team at DataWeave. He received his Masters in Data Science from IIIT Bangalore. He is a Python developer and has been exploring Go for the past one year. He has written two Go packages and open sourced them on Github:</p> 
                <ul>
                  <li><a href="https://github.com/jyotiska/go-colorweave" target="_blank">go-colorweave</a></li>
                  <li><a href="https://github.com/jyotiska/go-webcolors" target="_blank">go-webcolors</a></li>
                </ul>
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
