<a href="#" data-toggle="modal" data-target="#khosrow">Stream Processing Using Go - Sunil Sayyaparaju</a>

<div class="modal fade bs-example-modal-lg" id="khosrow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Stream Processing Using Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 20th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 2:05 pm to 2:30 pm (IST)
			</div>
			<p>We have been hard at work in Aerospike to build our own service platform in Go. In addition to building the platform around a micro-service architecture, we have built quite a lot of infrastructure using Go. In this talk, I'll discuss how we have used Go's abstraction idioms via channels and interfaces to build a flexible engine to allow general purpose data processing and reporting for a nosql database.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/sunil.jpg)"></div>
			<span class="name">Sunil Sayyaparaju</span>
            <span class="company"><a href="https://twitter.com/sunilvirus" target="_blank"><i class="fa fa-twitter fa-fw"></i> @parshua</a></span>
			<hr />
            <div class="speaker-desc">
				Sunil Sayyaparaju, Director of Product and Technology at Aerospike, has over 10 years experience working on different types of SQL RDBMS solutions, such as single machine (monolithic), in-memory, distributed shared-disk, and distributed shared-nothing architectures with emphasis in transaction management, storage, access, performance tuning, and recovery areas. Sunil currently leads Aerospike's Bangalore office, working on their distributed shared-nothing NoSQL solution. Aerospike is a high-performance, self-balancing, immediately consistent, distributed NoSQL database. Aerospike also has an add on product for replication across data-centers over WAN which supports different complex topologies.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
