<a href="#" data-toggle="modal" data-target="#lakshan">Scriptable Internet of Things with Go - Lakshan Perera</a>

<div class="modal fade bs-example-modal-lg" id="lakshan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Scriptable Internet of Things with Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 21st February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 1.55 pm to 2:20 pm (IST)
			</div>
			<p>This talk focuses on a framework we're currently building to simplify writing programs for devices such as Raspberry Pi, BeagleBoard, Intel Edison and similar.</p>
			<p>We're moving to a future where "Internet enabled devices" (or Internet of Things) would start to play a major part in our daily lives. However, writing your own custom programs and controlling them to do what you want is not so simple &amp; straightforward. You either have to deal with a programming toolset of a bygone era or need to depend on a proprietary SDK that would only work on a specific device.</p>
			<p>This project implements a set of base APIs with Golang which would work across different devices with different architectures. Users would be able to interact with this API using a high-level scripting languages (eg. JavaScript / Lua). Also the framework is designed to be accessible from the cloud, allowing users to write and run scripts from anywhere (yup, we'll be discussing the security model too).</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/lakshan-perera.jpg)"></div>
			<span class="name">Lakshan Perera</span>
            <span class="company"><a href="https://twitter.com/parshua" target="_blank"><i class="fa fa-twitter fa-fw"></i> @parshua</a></span>
			<hr />
            <div class="speaker-desc">
				He is from Colombo, Sri Lanka and learnt to program by building stuff to scratch his itch. In 2013, he moved to Singapore to join Nitrous.IO - where they focus on creating better / less painful development environments. He also runs the <a href="https://twitter.com/golangsg" target="_blank">Singapore's Go meetup</a>. He spends his free time working on various ideas (like writing specs for <a href="https://github.com/kopijs/kopi.js" target="_blank">Singaporean Coffee</a> and spreading the good word about 'world of programming'.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
