<a href="#" data-toggle="modal" data-target="#manik">N1QL a query language in Go. It makes "cents" - Manik Taneja</a>

<div class="modal fade bs-example-modal-lg" id="manik" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">N1QL a query language in Go. It makes "cents"</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 21st February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 11:45 am to 12:15 pm (IST)
			</div>
			<p>N1QL (pronounced as "nickel") - is Couchbase's next generation query language. N1QL presents easy and familiar abstractions to quickly develop scalable applications that work with next generation database systems. It allows for joins, filter expressions, aggregate expressions and many other features to build a rich application. N1QL builds on the SQL language and includes many of SQL's features in addition to features associated with document-oriented databases, i.e. it supports schema less JSON documents, nested attributes and domain oriented normalization.  N1QL has been built entirely using golang and in this talk we will explore the architecture N1QL and a couple of real world use-cases that will demonstrate the power of N1QL over other existing query languages.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/manik-taneja.jpg)"></div>
			<span class="name">Manik Taneja</span>

			<hr />
            <div class="speaker-desc">Manik Taneja is currently working as an Architect at Couchbase, India where his primarily responsibility is to design and implement features for their next generation query language N1QL. He has a strong systems background having worked extensively in areas of distributed systems, network caching and NoSQL databases. His language of choice is C but after having discovered Go, he is pretty much hooked on to it and he's looking forward to seeing it grow and build some really cool stuff with it.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
