<a href="#" data-toggle="modal" data-target="#markbates">Go Test! - Mark Bates</a>

<div class="modal fade bs-example-modal-lg" id="markbates" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Go Test!</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 21st February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 11:15 am to 11:45 am (IST)
			</div>
			<p>
				In this talk we'll cover the landscape of testing in Go. From the testing package in the standard library to alternatives like Ginkgo and GoConvey, we'll 
				learn the ins and outs of testing Go applications. 
				In addition to looking at testing tools, we'll also discuss testing straight Go apps, as well as Go web apps, and integration tests with Go.
			</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/mark-bates.jpg)"></div>
			<span class="name">Mark Bates</span>
            <span class="company"><a href="//twitter.com/markbates" target="_blank"><i class="fa fa-twitter fa-fw"></i> @markbates</a></span>
			<hr />
            <div class="speaker-desc">
				Mark Bates is the founder and chief architect of the Boston, MA based consulting company, Meta42 Labs. Mark spends his
                days focusing on new application development and consulting for his clients. At night he writes books, raises kids, and occasionally he
                forms a band and "tries to make it". Mark is the author of three books, "Distributed Programming with Ruby" (2009), "Programming in CoffeeScript" (2012), 
				and "Conquering the Command Line" (2014). He also runs the weekly Golang screencast site, <a href="//www.metacasts.tv" target="_blank">www.metacasts.tv</a>
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>