<a href="#" data-toggle="modal" data-target="#Matthew">How to keep wall street chatting using Go - Matthew Campbell</a>

<div class="modal fade bs-example-modal-lg" id="Matthew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">How to keep wall street chatting using Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 21st February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 9:00 am to 9:30 am (IST)
			</div>
			<p>
				How a small team of 6 rebuilt one of the largest financial instant messaging platforms using GO. The service hosted more then 350k users with peaks 
				of 20 megabits of dynamic messaging traffic. The service was switched to go mid day and has been running for months without an outage. We will explore 
				what steps we used to scale to this huge of a user base. How we manage updates while the service is running without disrupting users. How to monitor a 
				GO application that has to have weeks of uptime. 
				Also we will delve into how we used a geographically distributed team to make this all possible.
			</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/matthew.campbell.png)"></div>
			<span class="name">Matthew Campbell</span>
            <span class="company"><a href="//twitter.com/kanwisher" target="_blank"><i class="fa fa-twitter fa-fw"></i> @kanwisher</a></span>
			<hr />
            <div class="speaker-desc">
				Matthew has been a hacker since he was teething. He specializes in GO, Ruby and Scala. His most notable projects were porting Bloomberg.com to ruby of rails from scratch. Building real time ad platforms in scala at Tapad. Most recently building the largest financial instant messaging server on the planet from scratch in GO with a small team for Thomson Reuters. In his free time he likes to hack arduinos and scuba dive. He recently spoke and runs the <a href="http://www.meetup.com/Bangkok-Gophers-Go-programming-Meetup/" target="_blank">Go Meetup in Bangkok</a>. Matthew splits his time between New York and Bangkok leading teams in both locations.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>