<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="index, follow" />
<meta name="description" content="The official site of GopherConIndia. A Go programming language conference in India." />
<meta name="author" content="GopherConIndia" />
<meta name="keywords" content="golang, gophercon, gopherconindia, conference, india" />
<meta name="p:domain_verify" content="465dc3baf27b0caa31c05aeab0c7c0ac" />

<link rel="favicon" href="/images/favicon/favicon.png">
<link rel="apple-touch-icon" href="/images/favicon/favicon.png">
<link rel="icon" href="/images/favicon/favicon-256.png" sizes="256x256" type="image/png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicon/favicon-152.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon/favicon-144.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicon/favicon-120.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon/favicon-114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon/favicon-72.png" />
<link rel="apple-touch-icon-precomposed" href="/images/favicon/favicon-57.png" />

<!-- Bootstrap Core CSS -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Fonts -->
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Custom Theme CSS -->
<link href="{{ site.url }}/css/grayscale.css" rel="stylesheet">
<link href="{{ site.url }}/css/style-guide.css" rel="stylesheet">
<link href="{{ site.url }}/css/override-bootstrap-responsive.css" rel="stylesheet">
