<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      <a class="navbar-brand" href="{{ site.github_project_name }}/#page-top"> <span>GOPHERCON INDIA 2015</span> <br/>
        <span class="first-conf">The First-Ever Go Conference in India @Bengaluru </span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About  <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="page-scroll"><a href="{{ site.github_project_name }}/#about">What is GopherCon India ?</a></li>
            <li><a href="{{ site.github_project_name }}/badges/">Badges</a></li>
            <li><a href="{{ site.github_project_name }}/code-of-conduct/">Code of Conduct</a></li>
            <li><a href="{{ site.github_project_name }}/faq/">FAQ</a></li>
            <li><a href="{{ site.github_project_name }}/staff-information/">Staff Information</a></li>
            <li><a href="{{ site.github_project_name }}/community-in-india/">Go Language Community in India</a></li>
            <li class="page-scroll"><a href="{{ site.github_project_name }}/#contact">Contact</a></li>
          </ul>
        </li>
        <li><a href="{{ site.github_project_name }}/blog" target="_blank">Blog</a></li>
        <li class="page-scroll">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github_project_name }}/gopher-month">Gopher Month</a></li>
			<li><a href="{{ site.github_project_name }}/gopherconindia-ambassador">GopherConIndia Ambassador</a></li>
            <li><a href="{{ site.github_project_name }}/go-workshop/">Go Workshop</a></li>
            <li><a href="{{ site.github_project_name }}/#speaker">Speakers</a></li>
            <li><a href="{{ site.github_project_name }}/talk-schedule/">Talk Schedule</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Speaking <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github_project_name }}/proposal-advice/">Proposal Advice</a></li>
            <li><a href="{{ site.github_project_name }}/proposal-resource/">Proposal Resources</a></li>
            <!--<li> <a href="{{ site.github_project_name }}/call-for-proposal/">Call For Proposals</a></li> -->
          </ul>
        </li>
        <li class="page-scroll">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sponsors <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github_project_name }}/#sponsor">GopherConIndia Sponsors</a></li>
            <!-- <li><a href="{{ site.github_project_name }}/#sponsor">Sponsorship Prospectus</a></li> -->
            <li><a href="{{ site.github_project_name }}/supporters">GopherConIndia Supporters</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Venue <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github_project_name }}/venue/">Venue Map</a></li>
            <li><a href="https://www.airbnb.co.in/events/gopherconindia?af=3330229&amp;c=Gopher&amp;alsm=1" target="_blank">Book AirBnB</a></li>
            <li><a href="{{ site.github_project_name }}/hotels/">Hotels</a></li>
            <li><a href="{{ site.github_project_name }}/tourist-visa/">Tourist Visa</a></li>
            <li><a href="{{ site.github_project_name }}/travelling-to-bangalore/">Travelling to Bengaluru</a></li>
            <li><a href="{{ site.github_project_name }}/restaurants-and-pubs/">Restaurants and Pubs</a></li>
			<li><a href="{{ site.github_project_name }}/sim-card/">SIM Card</a></li>
			<li><a href="{{ site.github_project_name }}/blr-street-food-special/">BLR Street Food Special</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github_project_name }}/registration-information/">Registration Info</a></li>
            <li><a href="{{ site.github_project_name }}/scholarship/">Scholarship</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
