<p>
Street Food is perhaps the best gastronomical introduction to a city – its ingredients, flavours and spices are the easiest way to get under the skin or umm … into the stomach of a city. Each city in India has its own list of street food to boast about and just sampling could mean days of eating on the streets.  From the most scrumptious vada paos in Mumbai to the roadside chat in Delhi, the freshest <i>bhajjis</i>/<i>pakoras</i> (fritters) in Conoor, thin-crisp-butter-laden dosas in Bangalore, melt-in-your-mouth puchkas in Kolkata … the list is obviously (and fortunately) endless and all you need to know is what to what to eat where.
</p>
<p>
So you're in Bangalore and in Talking Street style, hitting the street food stalls is what's on your mind. (If it isn't, you have no clue what you're missing. :P) Just pack away the work stuff, put on comfortable footwear, carry a bottle of water and get started on a culinary experience that meanders from on-the-street stalls to cozy cafés depending on what you're in the mood for. Of course, don't forget to carry a print of this document.
</p>
<p>
For a very basic list of the local food you MUST try in Bangalore – refer to this link. <br />
<a href="http://www.talkingstreet.in/5-must-have-local-food-experiences-bangalore/" target="_blank">5-must-have-local-food-experiences-bangalore</a>
</p>

<p>Here's a no-nonsense guide to specific street food joints around Royal Orchid Hotel.</p>

<p>
This is how it works. The name of the stall / join is followed by what it serves with some indication of what’s good. Unless stated, please assume that the joints do not provide seating and the food has to be had on the street. For more details, click through to the detailed post on Talking Street which covers what to order (and in some cases, how to order), geo-location and directions with landmarks.
</p>

<div class="gci-heading gci-heading-3">Old Airport Road</div>
<p>Royal Orchid Hotel is located on Old Airport Road. Most of the joints mentioned below are walking distance from the hotel.</p>

<div class="clearfix">
	<div class="cards">
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/anand-sweets.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/anand/" target="_blank">Anand Sweets</a> - Delhi-style Chaat. Wide variety of sweets -each one worth trying if you can afford the calories.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/chai-point.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/chai-point/" target="_blank">Chai Point</a> – Hot & Cold Tea. Snacks. To wash it all down.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/default-food-image.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/srinidhi-sagar/" target="_blank">Srinidhi</a> Sagar – Simply superb South-Indian Tiffin. Good Chaat. Full meals – North-Indian / South-Indian / Chinese. Filter coffee. Lemon tea. Regular Chai.
			</p>
		</div>		
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/default-food-image.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/manipal-canteen-old-airport-road/" target="_blank">Manipal</a> Canteen – Vada Pao (among the best in Bangalore). South-Indian Tiffin. Chaats. Meals. Filter coffee. Chai.
			</p>
		</div>		
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/kolkata-famous.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/kolkata-rolls-old-airport-road/" target="_blank">Kolkata Rolls</a> – Veg. and Non-veg. Kolkata Style rolls.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/sethiji-two.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/sethji-north-indian-home-food/" target="_blank">Sethji</a> – North Indian Home Food. Paranthas. Thali. A la carte.
			</p>
		</div>
	</div>
</div>

<br clear="all" />
<div class="clearfix"></div>

<div class="gci-heading gci-heading-3">Indira Nagar</div>
<p>Old Airport Road is right next to Indira Nagar, which is better known for its fine-dine restaurants, micro breweries and pubs. But it has a huge street food scene, if you're willing to look for it and experiment. </p>

<p>Let's break this up further into two parts (since Indira Nagar is quite spread out).</p>

<p>The first list is <strong>Double Road, Indira Nagar and Shirdi Sai Baba Mandir Road, just off Double Road, opposite ESI Hospital</strong>.</p>

<div class="row">
	<div class="cards">
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/default-food-image.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/kitchen-of-joy/" target="_blank">Kitchen of Joy</a> – Bengali street food served in a café. Decent Rolls. Good Chai (especially their Lemon Tea). Sweets – the Rasogullas are almost as good as Kolkata. Cozy Café, good for a chat / adda.
			</p>
		</div>		
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/tea-brew.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/tea-brew/" target="_blank">Tea Brew</a> – Great Momos. Good Tea. Decent Pakoras. Café with space to sit.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/khan-saheb-dosa.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/khan-saheb-rolls-tikkas/" target="_blank">Khan Saheb</a> – Very good rolls. Good Kebabs. Tikkas – their Paneer tikka is among the best in Bangalore.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/om-sai-skanda.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/om-sai-skanda-dosa-camp/" target="_blank">Om Sai Skanda</a> – Superlative Tamil-style South-Indian tiffin.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/lassi-point.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/lassi-point/" target="_blank">Lassi Point</a> – Refreshing Lassi / Smoothies. Delicious Milkshakes. Good Juices. Average Sundaes.
			</p>
		</div>
	</div>	
</div>

<br clear="all" />
<div class="clearfix"></div>


<p>String it together and you have the <a href="http://www.talkingstreet.in/indira-nagar-street-food-trail-sai-baba-temple-road/" target="_blank">Shirdi Sai Temple Road Street Food Trail</a>.</p>

<p>Next up is the <strong>Rest of Indira Nagar – mainly CMH Rd, Jeevan Bhima Nagar Main Rd, 100 feet Road and 80 feet Road</strong>.</p>

<div class="row">
	<div class="cards">
		
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/default-food-image.jpg" alt="" class="img-responsive" />
			<p><a href="http://www.talkingstreet.in/99-varieties-dosa-indira-nagar/" target="_blank">99 varieties dosa</a> – Dosas with a twist – Dosa+ tomato-based gravy+ different fillings. Highly recommended.</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/default-food-image.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/spicy-corner-jeevan-bhima-nagar/" target="_blank">Spicy Corner</a> – Indian-style Chinese. Gobi Munchurian (Cauliflower prepared in Indian-Chinese style). Noodles. Fried Rice.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/thunder-fried-chicken.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/thunder-fried-chicken/" target="_blank">Thunder Fried Chicken</a> – Kerela-style non-veg. Especially Chicken Shawarma. Chicken kabas.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/bite-me.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/bite-me-cupcakes/" target="_blank">Bite Me Cupcakes</a> – Mini cupcakes. Just the right size to allow sampling more than 2.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/sharon-tea.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/sharon-tea-stall/" target="_blank">Sharon Tea Stall</a> – Small roadside Tea Stall serving exotic varieties of tea and coffee – including Hibiscus, Lemon-Mint-Ginger, Apple-Mango.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/default-food-image.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/juice-center-jeevan-bhima-nagar/" target="_blank">Juice Center</a> – Oreo Shake. Soya Bean Cheese Sandwich.
			</p>
		</div>
		<div>
			<img src="{{ site.github_project_name }}/2015/images/food/ladoos.jpg" alt="" class="img-responsive" />
			<p>
				<a href="http://www.talkingstreet.in/laddoos-street-food-restaurant-jeevan-bhima-nagar/" target="_blank">Laddoos</a> – Chole Bhature. Pani Puri. Paranthas. Jalebis (Indian sweet meats). Aloo Tikkis. Has seating.
			</p>
		</div>		
				
		
	</div>	
</div>
