<p>
VV Puram is Bangalore's most famous Food Street and a complete must-do for anyone visiting or staying in Bangalore. Till you get there and try the food, you really don't know what you're missing. This guide attempts to cover almost each of the outlets starting from when one enters the street at Sajjan Rao Circle. Before that a few basic guidelines about this food street and what we suggest you keep in mind while planning this gastronomical adventure.
</p>

<ol class="bullet2">
	<li>To taste maximum number of dishes and make the most of this trail, do it in a group of 8 or more people (who do not mind sharing food). There is so much on offer that just a couple of bites of the top items at each joint will fill you up to a point when the senses may crave but the stomach will refuse to take in any more. No point eating one or two items and heading back, we say.</li>
	<li>VV Puram comes alive around 7:30 – 8:00 in the evening. While some of the shops start serving from 5:30-6:00 PM onwards, all of them are ready only by 7:00 PM.</li>
	<li>Weekends are extremely crowded so get there a little early. The crowds can mean having to wait a fair bit of time at some of the shops.</li>
	<li>Finding parking is not extremely easy on weekends – try one of the roads leading into Sajjan Rao Circle if you can’t find parking around the circle itself.</li>
	<li>Do use dustbins to dispose of the plates etc. Most shops will have dustbins placed at prominent locations.</li>
	<li>Try and avoid wasting food.</li>
</ol>

<p>
Now a quick overview of the food before we get into the specifics of what each of the joints serve. There are about 15 outlets serving different types of food (listed below outlet by outlet). We would classify the food varieties into the following categories in decreasing order of specialty – from <i><u>must-have</u></i> to <i><u>do-try</u></i> to <i><u>not-what-this-is-known-for</u></i>. That is not to say that food listed in the last category is not good – it’s just not what this street is known for. Also, some of those in the last category are relatively new additions to this otherwise old food street, and purists that we are, we would like to call them out.
</p>

<div class="gci-heading gci-heading-3">Must-have:</div>
<ol class="bullet3">
<li>Special South-Indian fare – Akki Roti / Ragi Roti / Paniyaram or paddus / Kodu Bele</li>
<li>Special South-Indian sweet paranthas – Dal / Hollige</li>
<li>Hot Jalebis / Gulab Jamun</li>
<li>Bhajjis & Bondas</li>
<li>Gulkun Ice-cream</li>
</ol>

<div class="gci-heading gci-heading-3">Do-try:</div>
<ol class="bullet3">
<li>Regular South-Indian Tiffin – Dosas & Uttapams (made with generous amounts of pure ghee), Idli, Vadas, Lemon Rice, Curd Rice, Vermicelli Upma</li>
</ol>

<div class="gci-heading gci-heading-3">Not-what-this-street-is-known-for but can-try shops because their food is good:</div>
<ol class="bullet3">
<li>Mumbai Pao Bhaji, Dabeli, Tawa Pulao,</li>
<li>Punjabi chaats (pani puri, papdi chaat, bread pakora, cutlets)</li>
<li>Paranthas / Rajasthani roti sabzi,</li>
<li>Lassi / Rose Milk</li>
<li>Kulfi</li>
<li>Chinese</li>
<li>Sandwiches</li>
</ol>

<hr>
<p class="footer">
For an outlet by outlet guide on what to eat where, head <a href="http://www.talkingstreet.in/the-ultimate-vv-puram-street-food-experience-guide/" target="_blank">here – The Ultimate VV Puram Street Food Experience Guide</a> by <a href="http://www.talkingstreet.in/" target="_blank">Talking Street</a>.
</p>