<div class='gci-heading gci-heading-1'>Go Language Community in India</div>

<p>The Go Language Community in India is growing rapidly. Here are some of the Go meetup groups in India:</p>

<ul class="gci-unordered-list">
  <li><a href="https://www.meetup.com/Ahmedabad-Golang-User-Group/" target="_blank">Ahmedabad Golang User Group</a></li>
  <li><a href="http://www.meetup.com/Golang-Bangalore/" target="_blank">Golang Bangalore (Bengaluru)</a></li>
  <li><a href="https://www.meetup.com/Women-Who-Go-Bangalore/" target="_blank">Women Who Go Bangalore</a></li>
  <li><a href="https://www.meetup.com/Chennai-golang-Meetup/" target="_blank">Chennai Golang Meetup</a></li>
  <li><a href="https://www.meetup.com/Delhi-Golang-Meetup/" target="_blank">Delhi Golang Meetup</a></li>
  <li><a href="http://www.meetup.com/Delhi-NCR-Golang-Meetup-Group" target="_blank">Delhi NCR Go Meetup Group</a></li>
  <li><a href="https://www.meetup.com/Gophers-In-Gurgaon/" target="_blank">Gophers in Gurgaon</a></li>
  <li><a href="http://www.meetup.com/Hyderabad-Gophers/" target="_blank">Hyderabad Gophers</a></li>
  <li><a href="https://www.meetup.com/Go-Programming-Language-Jaipur-Meetup-Golang-Jaipur/" target="_blank">Golang Jaipur Meetup</a></li>
  <li><a href="https://www.meetup.com/Go-Meetup-kerala/" target="_blank">Go Meetup Kerala</a></li>
  <li><a href="https://www.meetup.com/Kochi-golang-Meetup/" target="_blank">Kochi Golang Meetup</a></li>
  <li><a href="http://www.meetup.com/Mumbai-GoLang-Meetup/" target="_blank">Mumbai GoLang Meetup</a></li>
  <li><a href="https://www.meetup.com/GoLang-North-India/" target="_blank">GoLang North India</a></li>
  <li><a href="http://www.meetup.com/Golang-Pune/" target="_blank">Golang Pune</a></li>
</ul>
