<!-- gci_program_index.html -->
<section id="speaker" class="content-section text-center download-section homepage">
  <div class="container">
    <h2 class="speaker-title">Program</h2>
    <div class="speakers-wrapper text-left">

      <div class="row speaker" id="blake-mizerany">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/blake-mizerany.png">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Blake Mizerany</p>
          <p class="about-speaker">Blake Mizerany is the founder and CEO of Backplane, the most trusted edge traffic management platform. Blake drives the company’s technical vision, strategy, and growth. He has been using Go for nine years, and enjoys cooking with his Wok when he can, and when he shouldn’t. Find him on Twitter @bmizerany</p>
          <p><strong>Talk - Keynote</strong></p>
          <!-- <p class="about-speaker"></p> -->
        </div>
      </div>

      <div class="row speaker" id="matt-aimonetti">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/matt-aimonetti.jpeg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Matt Aimonetti</p>
          <p class="about-speaker">Originally a sound engineer, Matt Aimonetti became an internationally known software developer, technical writer and open source contributor. As CTO and Co-Founder of Splice, he found a way to mix his passions: software, music and entrepreneurship. Matt is based in Santa Monica, CA where he likes building robots with his daughter, playing with sound gear with his son and enjoying a good meal with his wife.</p>
          <p><strong>Talk - Keynote</strong></p>
          <!-- <p class="about-speaker"></p> -->
        </div>
      </div>

    </div>
  </div>
</section>
