<div class='gci-heading gci-heading-1'>Go Workshop on "Ultimate data science"</div>

<div class='gci-heading gci-heading-2'>Minimal Qualified Student</div>
<ul>
<li>Has attended Ultimate Go, a similar class, or has a foundational understanding of the Go programming language.</li>
<li>Has a fully working Go environment and can build a "basic" Go application without the need for documentation and other "guides".</li>
<li>Has a basic understanding of statistics, probability, and mathematics.</li>
<li>Has worked on the command line.</li>
<li>Knows how to maneuver around the file system.</li>
</ul>

<div class='gci-heading gci-heading-2'>Date</div>
<p>Thursday 23rd Feb. 2017 from 9 am to 5 pm</p>

<div class='gci-heading gci-heading-2'>Venue</div>
<p>Symbiosis Institute of Computer Studies and Research, Atur Centre, Gokhale Cross Road, Model Colony, Pune, Maharashtra 411016.</p>

<div class='gci-heading gci-heading-2'>Signup</div>

<p>The cost of the workshop is a nominal Rs 1500-00 per participant. Lunch and snacks will be provided. We would love to have you attend this paid workshop. <em>The proceeds of this workshop will go towards part-funding the conference</em>.</p>
<p><b>Note</b>: This workshop ticket <b>does not cover</b> the 2 day conference fees.</p>

<p><a  style="border-width:1px; border-style:solid; padding: 10px;" href="https://www.townscript.com/e/gci17/booking" target="_blank">Register Now -></a></p>

<p><b>A total of only 10 participants for this workshop</b>.</p>

<div class='gci-heading gci-heading-2'>Who teaches this course?</div>

<div class="row speaker">
  <div class="col-sm-2 image center">
    <div class="image-box">
      <img title="Daniel Whitenack" alt="Daniel Whitenack" src="{{ site.github_project_name }}/images/speakers/daniel.jpg" height="156" width="170">
    </div>
  </div>

  <div class="col-sm-10">
    <p class="about-speaker">The workshop is being conducted by Daniel Whitenack a Ph.D. trained data scientist who is interested in helping Go become a "go to" language for data science/engineering. As a data scientist with Pachyderm (@pachydermIO), Daniel develops innovative, distributed data pipelines. These pipelines include predictive models, data visualizations, statistical analyses, and more. He enjoys contributing to the open source community, with projects like gophernotes, and teaching Ultimate Data Science classes with Ardan Labs (@ardanlabs).<p>
  </div>
</div>

<div class='gci-heading gci-heading-2'>What will a student learn?</div>
<p>"Ultimate data science" is a 1 day class for any Go developer, data scientist, analyst, or statistician who wishes to learn how to build robust data science applications in Go. This class provides an intensive, comprehensive and idiomatic view on building predictive models, components of data pipelines, and more using Go. We believe this class is perfect for anyone wishing to build data-driven applications that produce valuable insights, have reproducible behavior, and can be deployed within modern architectures.</p>

<div class='gci-heading gci-heading-2'>Roadmap</div>
<ul>
<li>Data gathering, cleaning and organization</li>
<li>Statistics and aggregation</li>
<li>Evaluation and validation</li>
<li>Regression</li>
<li>Classification</li>
</ul>

<div class='gci-heading gci-heading-2'>What a student is expected to gain?</div>
<ul>
<li>Confidence in retrieving, organizing, and cleaning data from various sources and formats.</li>
<li>An understanding of how to perform numerical/statistical operations in Go.</li>
<li>Exposure to and experience with Go-based predictive modeling packages.</li>
<li>A toolkit of patterns and techniques for solving common data science problems in a reproducible and deployable manner.</li>
<ul>


<div class='gci-heading gci-heading-2'>What do you need?</div>

<p style="font-weight:bold">Mac, Windows, or Linux-based Laptop</p>

<p>Go runs great in all these environments, so any laptop you&#39;re comfortable using will do. Get your laptop to the workshop. Do install the <a href="https://golang.org/dl/" target="_blank">latest version of Go</a>.</p>

<p style="font-weight:bold">Up-to-date Web Browser</p>

<p>We designed the online experience to take advantage of some of the latest web standards, so you&#39;ll need the latest version of Safari, Chrome, Firefox, or IE.</p>

