<div class='gci-heading gci-heading-1'>Ultimate Go Workshop</div>
<p>If you are new to Go or have only been coding for less than a year, then this class is for you. Take a 7 hour tour of Go - learning the specification, implementation and idioms to help make you a better Go developer. Learn guidelines and best practices from years of experience coding and solving problems in Go. If you love the Go In Action book, this class makes it come to life. This class will help you read and understand more code for the conference.</p>
<p>We would love to have you attend this paid workshop. Lunch and snacks will be provided.</p>
<p><b>Note</b>: <em>The proceeds of the Go workshop will go towards part-funding the conference</em>.</p>

<div class='gci-heading gci-heading-2'>Signup</div>
<p><a  style="border-width:1px; border-style:solid; padding: 10px;" href="https://www.townscript.com/e/gci17/booking" target="_blank">Register Now -></a></p>

<p><b>A total of only 20 participants for the Go workshop</b>.</p>
<p><b>Note</b>: If you puchase a workshop ticket and have already purchased a conference ticket before, we shall refund you the amount paid for the conference ticket.</p>
<!--<p>GopherConIndia is celebrating the month of January, 2015 as "Gopher Month", wherein we will conduct Free Go workshops to increase the awareness of the Go Programming Language within the student community in India.</p>-->
<div class='gci-heading gci-heading-2'>Date</div>
<p>Wednesday 22nd Feb. 2017 from 8 am to 6 pm</p>

<div class='gci-heading gci-heading-2'>Venue</div>
<p>To be decided - (in Pune)</p>

<div class='gci-heading gci-heading-2'>Testimonials</div>
<p>Cory LaNou who works at @influxDB in an <a href="http://www.gophercon.in/blog/2014/09/06/coryinterview/" target="_blank">interview with GopherConIndia</a>, says that the best way to get a real jump on the Go language is to either <em>attend a Go workshop</em>, meetup, or find somebody that is willing to pair with you who is already experienced with Go.</p>

<p>William Kennedy had held the same Go workshop at the first-ever GopherConIndia 2015. One of the participants <b>Ms Sinny Kumari</b> had this to say about the workshop:</p>

<div class="row speaker">
                <div class="col-sm-2 image center">
                    <div class="image-box">
                        <img title="Ms Sinny Kumari" alt="testimonial" src="{{ site.github_project_name }}/images/participants/sinny-kumari.jpg">
                    </div>
                </div>
                <div class="col-sm-10">
                    <p class="about-speaker">
                       I have attended few workshops, the Go workshop by William Kennedy was one of them which was organized a day before GopherConIndia 2015. I never expected that as a newbie to Go, I will understand a completely new programming language in one day. He explained different core concepts of Go very well, starting from writing Hello World to using Concurrency. Every concept was explained with examples and gave us time to do hands-on in order to get comfortable with Go coding. Teaching material used by him were very well prepared consisting of basic to advanced examples for each topic. While attending the next two days' awesome talks at GopherconIndia, I never felt clueless during a talk. This workshop gave me lot of confidence and a right path to explore further the wonderful Go language. <b>I highly recommend people to attend his workshop</b>. 
                    </p>
                </div>
            </div>

<div class='gci-heading gci-heading-2'>What will you learn?</div>
<p>William Kennedy says "this workshop is about teaching enough Go so people can read as much code as possible. I throw in a lot of the why and reasoning behind the language."</p>
<ul>
<li>Language Syntax</li>
<li>Arrays, Slices and Maps</li>
<li>Methods, Interfaces and Embedding</li>
<li>Concurrency, Channels</li>
</ul>
<p>and More...</p>

<div class='gci-heading gci-heading-2'>What do you need?</div>
<p style="font-weight:bold">Mac, Windows, or Linux-based Laptop</p>

<p>Go runs great in all these environments, so any laptop you&#39;re comfortable using will do. Get your laptop to the workshop. We&#39;ll help you get everything installed on your system so you&#39;ll learn in the same environment where you&#39;ll actually write your own Go programs.</p>

<p style="font-weight:bold">Up-to-date Web Browser</p>
<p>We designed the online experience to take advantage of some of the latest web standards, so you&#39;ll need the latest version of Safari, Chrome, Firefox, or IE.</p>


<div class='gci-heading gci-heading-2'>Participants</div>
<div class="row">
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/ankitg.jpg" alt="Ankit Gaur" />
		<div class="title">Ankit Gaur</div>
		<div class="links">
			<a href="https://twitter.com/ankitg045" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/ankitg12" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/ketandarji.jpg" alt="Ketan Darji" />
		<div class="title">Ketan Darji</div>
		<div class="links">
			<!--<a href="https://twitter.com/nishanthvn86" target="_blank"><i class="fa fa-twitter"></i></a>-->
			<a href="https://github.com/ketandarji" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/kushal.jpg" alt="Kushal Das" />
		<div class="title">Kushal Das</div>
		<div class="links">
			<a href="https://twitter.com/kushaldas" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/kushaldas" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/malay.jpg" alt="Malay Kumar" />
		<div class="title">Malay Kumar</div>
		<div class="links">
			<a href="https://twitter.com/Malayks" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/Malayks" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

      </div>
      <div class="row">
		<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/maulik.jpg" alt="Maulik Patel" />
		<div class="title">Maulik Patel</div>
		<div class="links">
			<!--<a href="https://twitter.com/nishanthvn86" target="_blank"><i class="fa fa-twitter"></i></a>-->
			<a href="https://github.com/maulik887" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/nishanth.jpg" alt="Nishanth Vasudevan" />
		<div class="title">Nishanth Vasudevan</div>
		<div class="links">
			<a href="https://twitter.com/nishanthvn86" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/nishanthvasudevan" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/sushma.jpg" alt="Sushma Nivargi" />
		<div class="title">Sushma Nivargi</div>
		<div class="links">
			<!--<a href="https://twitter.com/nishanthvn86" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/nishanthvasudevan" target="_blank"><i class="fa fa-github"></i></a>-->
		</div>
	</div>
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/vincent.jpg" alt="Vincent Letourneau" />
		<div class="title">Vincent Letourneau</div>
		<div class="links">
			<a href="https://twitter.com/letvinz" target="_blank"><i class="fa fa-twitter"></i></a>
		</div>
	</div>

      <div class="row">
	      
     	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/no-image.jpg" alt="Vishal Kulshrestha" />
		<div class="title">Vishal Kulshrestha</div>
		<div class="links">
			<!--<a href="https://twitter.com/letvinz" target="_blank"><i class="fa fa-twitter"></i></a>-->
		</div>
	</div>
	      </div>
<!--
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/bhawani.jpg" alt="Bhawani Shanker" />
		<div class="title">Bhawani Shanker</div>
		<div class="links">
			<a href="https://twitter.com/bhawani_s" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/bhawani021" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/bryan.jpg" alt="Bryan Berry" />
		<div class="title">Bryan Berry</div>
		<div class="links">
			<a href="https://twitter.com/bryanwb" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/bryanwb/" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/kapil.jpg" alt="Kapil Dua" />
		<div class="title">Kapil Dua</div>
		<div class="links">
			<a href="https://twitter.com/kapsicum" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/kapslock" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/khare.jpg" alt="Neependra Khare" />
		<div class="title">Neependra Khare</div>
		<div class="links">
			<a href="https://twitter.com/neependra" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/nkhare" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<!--<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/pankaj.jpg" alt="Pankaj Sharma" />
		<div class="title">Pankaj Sharma</div>
		<div class="links">
			<a href="https://twitter.com/ps2931" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/ps2931" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/prakruthi.jpg" alt="Prakruthi Sudanandappa" />
		<div class="title">Prakruthi Sudanandappa</div>
		<div class="links">
			<a href="https://twitter.com/psudanandappa" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/Prakruthee" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/menon.jpg" alt="Praveen Menon" />
		<div class="title">Praveen Menon</div>
		<div class="links">
			<a href="https://twitter.com/prvn_menon" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/praveenmenon" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/rominirani.jpg" alt="Romin Irani" />
		<div class="title">Romin Irani</div>
		<div class="links">
			<a href="https://twitter.com/iRomin" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/rominirani" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/oak.jpg" alt="Sameer Oak" />
		<div class="title">Sameer Oak</div>
		<div class="links">
			<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="#" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/sasi.jpg" alt="Sasikumar G Narayanasamy" />
		<div class="title">Sasikumar G Narayanasamy</div>
		<div class="links">
			<a href="https://twitter.com/sasikumargn" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/sasikumargn" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/shabinesh.jpg" alt="Shabinesh Sivaraj" />
		<div class="title">Shabinesh Sivaraj</div>
		<div class="links">
			<a href="https://twitter.com/shabinesh" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/shabinesh" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/shradha.jpg" alt="Shradha Khare" />
		<div class="title">Shradha Khare</div>
		<div class="links">
			<a href="https://twitter.com/shradha_khare" target="_blank"><i class="fa fa-twitter"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/shashikiran.jpg" alt="Shashi Kiran" />
		<div class="title">Shashi Kiran</div>
		<div class="links">
			<a href="https://twitter.com/shashik3110" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/shashikirans" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/subu.jpg" alt="Subramanian Olagappan" />
		<div class="title">Subramanian Olagappan</div>
		<div class="links">
			<a href="https://twitter.com/osubbu" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/osubbu" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/suresh.jpg" alt="Suresh R Iyer" />
		<div class="title">Suresh R Iyer</div>
		<div class="links">
			<a href="https://twitter.com/protoiyer" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/protoiyer" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/vaishnavi.jpg" alt="Vaishnavi Rao" />
		<div class="title">Vaishnavi Rao</div>
		<div class="links">
			<a href="https://twitter.com/vavaishirao" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/Vaishnavirao" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/vijay.jpg" alt="Vijay Manda" />
		<div class="title">Vijay Manda</div>
		<div class="links">
			<a href="https://twitter.com/MandaVijay2" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/mandavijay" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/vivek.jpg" alt="Vivek Sethi" />
		<div class="title">Vivek Sethi</div>
		<div class="links">
			<a href="https://twitter.com/iSagar13" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/vsethi13" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/basil-kurian.jpg" alt="Basil Kurian" />
		<div class="title">Basil Kurian</div>
		<div class="links">
			<a href="https://twitter.com/bkurian" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="#" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/bhagavan-nagaraju.jpg" alt="Bhagavan Nagaraju" />
		<div class="title">Bhagavan Nagaraju</div>
		<div class="links">
			<a href="https://twitter.com/bugs_cena" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/bhagn" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/binish.a.r.jpg" alt="Binish A R" />
		<div class="title">Binish A R</div>
		<div class="links">
			<a href="https://twitter.com/arbinish" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="#" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/gaurav-dadhania.jpg" alt="Gaurav Dadhania" />
		<div class="title">Gaurav Dadhania</div>
		<div class="links">
			<a href="https://twitter.com/GVRV" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/GVRV" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/kedar.jpg" alt="Kedarnag M Satish" />
		<div class="title">Kedarnag M Satish</div>
		<div class="links">
			<a href="https://twitter.com/Kedarnag13" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/Kedarnag13" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/krishnaprasad-varma.jpg" alt="Krishnaprasad Varma" />
		<div class="title">Krishnaprasad Varma</div>
		<div class="links">
			<a href="https://twitter.com/kpvarma" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/kpvarma" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/mathew-joseph.jpg" alt="Mathew Joseph" />
		<div class="title">Mathew Joseph</div>
		<div class="links">
			<a href="https://twitter.com/mathewj19465985" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/qwinixmkj" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/naresha-k.jpg" alt="Naresha K" />
		<div class="title">Naresha K</div>
		<div class="links">
			<a href="https://twitter.com/naresha_k" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/naresha" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/naveen-mora.jpg" alt="Naveen Mora" />
		<div class="title">Naveen Mora</div>
		<div class="links">
			<a href="https://twitter.com/moranaveen1" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/naveenmora" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/neeru-dwivedi.jpg" alt="Neeru Dwivedi" />
		<div class="title">Neeru Dwivedi</div>
		<div class="links">
			<a href="https://twitter.com/neeru.misra" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/neeru" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/prasad-krishnan.jpg" alt="Prasad Krishnan" />
		<div class="title">Prasad Krishnan</div>
		<div class="links">
			<a href="https://twitter.com/maskoniya" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/prasus" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/praveen-g-shirali.jpg" alt="Praveen G Shirali" />
		<div class="title">Praveen G Shirali</div>
		<div class="links">
			<a href="https://twitter.com/r0hrl" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/r0hrl" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/prem-anand.jpg" alt="Prem Anand" />
		<div class="title">Prem Anand</div>
		<div class="links">
			<a href="https://twitter.com/nmpremanand" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/nmpremanand" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/raghavendra-joshi.jpg" alt="Raghavendra Joshi" />
		<div class="title">Raghavendra Joshi</div>
		<div class="links">
			<a href="https://twitter.com/raghugjoshi123" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/raghugjoshi" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/RajeshM.jpg" alt="Rajesh Mathew" />
		<div class="title">Rajesh Mathew</div>
		<div class="links">
			<a href="https://twitter.com/rajeshmathewk" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/jrajesh" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/sangeeth-saravanaraj.jpg" alt="Sangeeth Saravanaraj" />
		<div class="title">Sangeeth Saravanaraj</div>
		<div class="links">
			<a href="https://twitter.com/sangeeths" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/sangeeths" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/saravana-kumar.jpg" alt="Saravana Kumar" />
		<div class="title">Saravana Kumar</div>
		<div class="links">
			<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="#" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/sasi-priya-g-s.jpg" alt="Sasi Priya G S" />
		<div class="title">Sasi Priya G S</div>
		<div class="links">
			<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/sasipriyags" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/sinny-kumari.jpg" alt="Sinny Kumari" />
		<div class="title">Sinny Kumari</div>
		<div class="links">
			<a href="https://twitter.com/ksinny" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/sinnykumari" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/venkata-m-v-chaitanya.jpg" alt="Venkata M V Chaitanya" />
		<div class="title">Venkata M V Chaitanya</div>
		<div class="links">
			<a href="https://twitter.com/vchaitanya55" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/venkat55" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/participants/vinoth-kumar-a.jpg" alt="Vinoth Kumar A" />
		<div class="title">Vinoth Kumar A</div>
		<div class="links">
			<a href="https://twitter.com/avinoth_" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/avinoth" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
-->

</div>
