<div class='gci-heading gci-heading-1'>Go Workshops</div>

<!--<p><b>NOTE</b>: REGISTRATIONS FOR THE GO WORKSHOP IS NOW CLOSED.</p>-->

<div>
<p>GopherConIndia 2017 is proud to work with <a href="https://www.ardanlabs.com/" target="_blank"></a>Ardan Labs</a> to bring to you two full day Go workshops (first one for beginners and the second for seasoned developers):</p>
<ul>
  <li>The <a href="{{ site.github_project_name }}/go-workshop1/">Ultimate Go Workshop</a> on Wednesday, 22nd Feb. 2017.</li>	
  <li>The <a href="{{ site.github_project_name }}/go-workshop2/">Advanced Go Workshop</a> on Thursday, 23rd Feb. 2017.</li>
</ul>
</div>
<p><b>Note</b>: <em>The proceeds of the Go workshop will go towards part-funding the conference</em>.</p>
<p><b>A total of only 20 participants for each Go workshop</b>.</p>
<div class='gci-heading gci-heading-2'>Who teaches this course?</div>
<p><a href="https://twitter.com/goinggodotnet" target="_blank">William Kennedy</a> is a managing partner at Ardan Studio in Miami, Florida, a mobile, web, and systems development company. He is also a co-author of the book Go in Action, the author of the blog <a href="http://www.goinggo.net/" target="_blank">GoingGo.Net</a>, and a founding member of GoBridge which is working to increase Go adoption through diversity.</p>

<div class="row">
<div class='gci-heading gci-heading-2'>William Kennedy teaching Go at GopherConIndia 2015</div>
<img src="{{ site.github_project_name }}/images/William-Kennedy-teaching-Go.jpg" class="img-responsive" />
<br />   
</div>

