<div class='gci-heading gci-heading-1'>Workshop on "Building highly scalable web apps with Go"</div>

<p>This workshop is for people that have some knowledge of Go, even if it's basic (just the Go tour).</p>

<div class='gci-heading gci-heading-2'>Date</div>
<p>Thursday 23rd Feb. 2017 from 9 am to 5 pm</p>

<div class='gci-heading gci-heading-2'>Venue</div>
<p>Symbiosis Institute of Computer Studies and Research, 7th Floor,  Atur Centre, Gokhale Cross Road, Model Colony, Pune, Maharashtra 411016.</p>

<div class='gci-heading gci-heading-2'>Signup</div>

<p>The cost of the workshop is a nominal Rs 1500-00 per participant. Lunch and snacks will be provided. We would love to have you attend this paid workshop. <em>The proceeds of this workshop will go towards part-funding the conference</em>.</p>
<p><b>Note</b>: This workshop ticket <b>does not cover</b> the 2 day conference fees.</p>

<p><a  style="border-width:1px; border-style:solid; padding: 10px;" href="https://www.townscript.com/e/gci17/booking" target="_blank">Register Now -></a></p>

<p><b>A total of only 50 participants for this workshop</b>.</p>

<div class='gci-heading gci-heading-2'>Who teaches this course and what will you learn?</div>

<div class="row speaker">
  <div class="col-sm-2 image center">
    <div class="image-box">
      <img title="Francesc Campoy Flores" alt="Francesc Campoy Flores" src="{{ site.github_project_name }}/images/speakers/francesc-campoy-flores.png" height="156" width="170">
    </div>
  </div>

  <div class="col-sm-10">
    <p class="about-speaker">The workshop is being conducted by Francesc Campoy Flores who joined the Go team in 2012 as a Developer Advocate after several years as a Python and C++ developer. His mission is to make Go useful and fun. He <a href="https://youtu.be/5iD0Hl0alZ0?list=PLxFC1MYuNgJTY3uQ5Ja4F5Sz305nnrBOq" target="_blank">spoke</a> at GopherConIndia 2015.</p><p>During this workshop you will build a web application from scratch using Go to build the backend and some HTML, CSS, JS on the frontend, of course.<p>
  </div>    
<p>You will gets a hands on experience implementing REST APIs with and without any frameworks. We will also use the built-in concurrency features of Go to make the app faster.</p>
    <p>We will also add features to the app using some of the services available on App Engine:</p>
    <ul>
      <li>List text here- datastore to store data in a non relational database.</li>
      <li>Memcache to cache and access data faster.</li>
      <li>Task queues to schedule tasks to be executed later.</li>
      <li>Mail to send and receive emails.</li>
    </ul>
    <p>The app will then be deployed on top of Google App Engine, which provides a free tier, so attendees will go through the whole process from inception of an app to deployment and monitoring.</p>

</div>

<div class='gci-heading gci-heading-2'>What do you need?</div>

<p style="font-weight:bold">Mac, Windows, or Linux-based Laptop</p>

<p>Go runs great in all these environments, so any laptop you&#39;re comfortable using will do. Get your laptop to the workshop. We&#39;ll help you get everything installed on your system so you&#39;ll learn in the same environment where you&#39;ll actually write your own Go programs.</p>

<p style="font-weight:bold">Up-to-date Web Browser</p>

<p>We designed the online experience to take advantage of some of the latest web standards, so you&#39;ll need the latest version of Safari, Chrome, Firefox, or IE.</p>

