<section id="sponsor" class="sponsor-section homepage">
<div class='gci-heading gci-heading-1'>GopherMonth</div>
<div>
  <p>Go, also called golang, is an open source programming language (though initially developed at Google) that makes it easy to build simple, reliable, and efficient software.</p>
  <p>A Gopher stands for the Go project and Go programmers everywhere.</p>
  <p><strong>GopherMonth</strong> is a month-long series of online hackathons based on the Go programming language. It is aimed at encouraging new developers come aboard and try Go for the first time, and for seasoned gophers to show off their skills and earn some glory. As part of GopherMonth, three hackathons will be hosted on the DoSelect platform, starting from January 15th, 2016. More details can be found <a href="https://doselect.com/team/gopherconindia/hackathons" target="_blank">here</a>.</p>
</div>
</section>

<div class="container">
  <div class='gci-heading gci-heading-1'>About DoSelect</div>
  <div class="row">
    <div class="sponsors-bg clearfix">
      <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
        <div class="text-center"><a href="https://doselect.com/home/" target="_blank"><img alt="sponsor logo image" src="{{ site.github_project_name }}/images/sponsors/doselect.png" class="image-responsive"></a></div>
      </div>
      <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
        <p class="sponsor-paragraph"><a href="https://doselect.com/home" target="_blank"><strong>DoSelect</strong></a> is a talent engagement and recruitment platform that enables tech companies identify and hire the best people for their teams, and developers to enhance their craft and land their job.</p>
      </div>
    </div>
  </div>
</div>

