<div class='gci-heading gci-heading-1'>OYO Discounted Rooms</div>
<p>Discounted Room Rates for Hotel Options near to the Venue, where the Delegates can book Online according to their preferences and choices.</p>
<p><b><a href="https://www.oyorooms.com/pune/hotels-in-pune-gophercon?coupon=GOPHERCON25&checkin=22%2F02%2F2017&checkout=27%2F02%2F2017&utm_source=Gophercon" target="_blank">Book your stay here</a>.</b></p>

<p>ALL ROOMS ARE INCLUSIVE OF:</p>

<ul>
  <li>Complimentary Breakfast</li>
  <li>Free Wifi</li>
  <li>Upgraded Rooms (Hygienic Washroom and 4-star Bedding)</li>
  <li>A/C rooms</li>
</ul>
