<div class='gci-heading gci-heading-1'>Registration Information</div>

<div class="panel panel-info">
  <div class="panel-body">
    <div class='gci-heading gci-heading-1'>GopherConIndia 2019</div>
	<a href="https://goo.gl/maps/XqfhWbJQNn52" target="_blank"><i class="glyphicon glyphicon-map-marker"></i> Resort Rio, Bardez, Goa, India</a>

<p>
<br />
<strong>India's fifth Go programming conference in Goa on 18-19 January 2019, that's 100% #golang goodness!</strong>
</p>

<table class="table">
<tr><th>Tickets</th></tr>
<tr>
	<td>
		<!--<div class='gci-heading gci-heading-1 pull-left' style="font-size:20px;">GopherCon Registration is now closed.</div>-->
          <!--<button onclick="popup('gci17');" class="tsbutton">Register Now</button><noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript><script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>-->
          <a href="https://www.townscript.com/e/gci19" target="_blank"><img src="{{ site.github_project_name }}/images/give-a-talk-btn-200.png" alt="Register-image"></a>
	</td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>
</table>

  </div>
</div>


<div class="panel panel-info">
  <div class="panel-body">

	<div class="col-lg-6">
<div class='gci-heading gci-heading-1'>Additional Information:</div>
<p>
GopherConIndia 2019 will be a single-track two day conference with a variety of talks designed to spark creativity and promote Go education. There will be a variety of events planned outside the conference track to allow attendees to make connections with other Go developers, vendors, and friends.
</p>
</div>

<div class="col-lg-6">

<iframe src="https://www.google.co.in/maps/place/Hyatt+Regency+Pune/@18.5599913,73.9097203,17z/data=!3m1!4b1!4m5!3m4!1s0x3bc2c13f8898d47d:0xb720e75df7dab049!8m2!3d18.5599913!4d73.911909!6m1!1e1?hl=en" width="100%" height="250" frameborder="0" style="border:1px solid #DBE6EF; background-color:#fff; padding:4px;"></iframe>

 <ul class="list-group">
  <li class="list-group-item"><i class="glyphicon glyphicon-phone-alt"></i>   Tel: +919373345026</li>
  <!--<li class="list-group-item"><i class="glyphicon glyphicon-print"></i>   Fax: +918066614444</li>-->
  <li class="list-group-item"><i class="glyphicon glyphicon-envelope"></i>   Email: <a href="mailto:satish@emergingtechs.in">Satish Talim - Event Manager</a></li>
  <li class="list-group-item"><i class="fa fa-twitter"></i> Twitter: <a href="https://twitter.com/GopherConIndia" target="_blank">@GopherConIndia</a></li>
</ul>
</div>

  </div>
</div>
