<div class='gci-heading gci-heading-1'>Staff Information</div>

<b>GopherConIndia Organizers</b>: <a href="mailto:team@emergingtechs.in" class="gci-link">team@emergingtechs.in </a>

<div class='gci-heading gci-heading-4 mt-20 mb-20'>If the matter is especially urgent, please call/contact any of these individuals:</div>

<div class="row">
  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/images/staff/gautam-rege.jpeg" alt="Gautam Rege" />
    <div class="title">Gautam Rege</div>
    <div class="twitter"><a href="https://twitter.com/gautamrege" class="gci-link" target="_blank">@gautamrege</a></div>
    <div class="phone">+919881395656</div>
  </div>

  <!--
  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/images/staff/karan-misra.jpg" alt="Karan Misra" />
    <div class="title">Karan Misra</div>
    <div class="twitter"><a href="https://twitter.com/kid0m4n" class="gci-link" target="_blank">@kid0m4n</a></div>
    <div class="phone">+918095550069</div>
  </div>
  -->  
  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/images/staff/santosh-b-malleshappa.jpg" alt="Santosh B Malleshappa" />
    <div class="title">Santosh B Malleshappa</div>
    <div class="twitter"><a href="https://twitter.com/bmsantosh" class="gci-link" target="_blank">@bmsantosh</a></div>
    <div class="phone">+919373345026</div>
  </div>

  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/images/staff/satish-talim.jpg" alt="Satish Talim" />
    <div class="title">Satish Talim</div>
    <div class="twitter"><a href="https://twitter.com/indianguru" class="gci-link" target="_blank">@indianguru</a></div>
    <div class="phone">+918087766880</div>
  </div>

  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/images/staff/sidu-ponnappa.jpg" alt="Sidu Ponnappa" />
    <div class="title">Sidu Ponnappa</div>
    <div class="twitter"><a href="https://twitter.com/ponnappa" class="gci-link" target="_blank">@ponnappa</a></div>
    <div class="phone">+919880609867</div>
  </div>

</div>

<p class="mb-20 mt-20 alert alert-info" style="margin-left:2%; width:80%">This page will list the primary points of contact for GopherConIndia 2019. </br>This does not list all of the volunteers, without whom GopherConIndia would not be possible.</p>

<div class="row">
  <!--
  <div class="col-sm-2 staff">

    <div class='gci-heading gci-heading-3 mt-20'>Pre-Conf Party</div>

    <img src="{{ site.github_project_name }}/images/staff/sathish-vj.jpg" alt="Sathish VJ" />
    <div class="title">Sathish VJ</div>
    <div class="twitter"><a href="https://twitter.com/sathishvj" class="gci-link" target="_blank">@sathishvj</a></div>
    <div class="phone">+919972312357</div>
  </div>
  -->
  <div class="col-sm-3 staff">

    <div class='gci-heading gci-heading-3 mt-20'>Venue / Stickers / T-Shirts</div>
        <img src="{{ site.github_project_name }}/images/staff/satish-talim.jpg" alt="Satish Talim" />
    <div class="title">Satish Talim</div>
    <div class="twitter"><a href="https://twitter.com/indianguru" class="gci-link" target="_blank">@indianguru</a></div>
    <div class="phone">+918087766880</div>
    <!--
    <img src="{{ site.github_project_name }}/images/staff/pravin-mishra.jpg" alt="Pravin Mishra" />
    <div class="title">Pravin Mishra</div>
    <div class="twitter"><a href="https://twitter.com/pravinmishra88" class="gci-link" target="_blank">@pravinmishra88</a></div>
    <div class="phone">+919555071486</div>
    -->
  </div>

  <div class="col-sm-3 staff">

    <div class='gci-heading gci-heading-3 mt-20'>Cut-outs / Audio, Video</div>
   <img src="{{ site.github_project_name }}/images/staff/santosh-b-malleshappa.jpg" alt="Santosh B Malleshappa" />
    <div class="title">Santosh B Malleshappa</div>
    <div class="twitter"><a href="https://twitter.com/bmsantosh" class="gci-link" target="_blank">@bmsantosh</a></div>
    <div class="phone">+919373345026</div>
    </div>
</div>

<div style="border-top:1px solid #c1c1c1;width:65%;margin:3% 0% 0% 6%;"></div>

<div class="row mt-20">
  <!--
  <div class="col-sm-2 staff">
  <div class='gci-heading gci-heading-3 mt-20'>Website</div>
    <img src="{{ site.github_project_name }}/images/staff/prathamesh.jpg" alt="Prathamesh Sonpatki" />
    <div class="title">Prathamesh Sonpatki</div>
    <div class="twitter"><a href="https://twitter.com/_cha1tanya" class="gci-link" target="_blank">@_cha1tanya</a></div>
    <div class="phone">+919422033142</div>
  </div>
  -->

  <div class="col-sm-3 staff">
  <div class='gci-heading gci-heading-3 mt-20'>Website</div>
    <img src="{{ site.github_project_name }}/images/staff/santosh-b-malleshappa.jpg" alt="Santosh B Malleshappa" />
    <div class="title">Santosh B Malleshappa</div>
    <div class="twitter"><a href="https://twitter.com/bmsantosh" class="gci-link" target="_blank">@bmsantosh</a></div>
    <div class="phone">+919373345026</div>
  </div>

</div>

<div style="height:80px;">&nbsp;</div>
