<!--Venue Section-->
<div class='gci-heading gci-heading-1'>Venue</div>

<div class="col-sm-4">
  <a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=1832&language=en_US">Resort Rio</a><br />
  Tambudki Arpora,<br />
  Bardez, Goa<br />
  India<br />
  Tel: +91 9373345026<br />
  </div>

<div class="col-sm-8">
  <p>More info on Resort Rio is here - https://www.linkedin.com/pulse/gopherconindia-rubyconfindia-2019-satish-manohar-talim/</p>
  </div>

<div class="col-sm-12">
<iframe src="https://goo.gl/maps/j11Si6konBG2" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

