<!--Venue Section-->
<div class='gci-heading gci-heading-1'>Venue</div>

<div class="col-sm-4">
  Park Regis<br />
  Saqwadi, Arpora,<br />
  Goa<br />
  India<br />
  Tel: +91 8447118443<br />
  </div>
<div class="col-sm-12">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15373.332451924614!2d73.7598539!3d15.5738412!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe2dbb126b1ffc7de!2sPark+Regis+Goa!5e0!3m2!1sen!2sin!4v1539854025463" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="col-sm-8">
  <p>More info on Hotel Park Regis is <a href="https://www.linkedin.com/pulse/gopherconindia-rubyconfindia-2019-satish-manohar-talim/">here.</a></p>
  </div>



