<a href="#" data-toggle="modal" data-target="#francesc">Opening Keynote - Francesc Campoy Flores</a>

<div class="modal fade bs-example-modal-lg" id="francesc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
	<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
	  <div class="col-sm-8">
	    <h2 class="modal-title" id="myModalLabel"></h2>
	    <div class="modal-desc">
	      <i class="glyphicon glyphicon-calendar"></i> Friday 24th February, 2017 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 9:30 am to 10:20 am (IST)
	    </div>
	    <p></p>
	  </div>
	  <div class="col-sm-4">
	    <div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/francesc-campoy-flores.png)"></div>
	    <span class="name">Francesc Campoy Flores</span>
            <span class="company"><a href="https://twitter.com/francesc" target="_blank"><i class="fa fa-twitter fa-fw">@francesc</i></a></span>
	    <hr />
            <div class="speaker-desc">Francesc Campoy Flores joined the Go team in 2012 as Developer Advocate after several years as a Python and C++ developer. His mission is to make Go useful and fun. He <a href="https://youtu.be/5iD0Hl0alZ0?list=PLxFC1MYuNgJTY3uQ5Ja4F5Sz305nnrBOq">spoke</a> at GopherConIndia 2015.</div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
