<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="{{page.index}}index, {{page.follow}}follow" />
<meta name="description" content="The official site of GopherConIndia. A Go programming language conference in India." />
<meta name="author" content="GopherConIndia" />
<meta name="keywords" content="golang, gophercon, gopherconindia, conference, india" />
<meta name="p:domain_verify" content="465dc3baf27b0caa31c05aeab0c7c0ac" />
<meta name="google-site-verification" content="eytWUbBUrmEOY0zSaUfJre-1Aw_i0MOSJf18X2zNKlc" />

<link rel="favicon" href="{{ site.github_project_name }}/2016/images/favicon/favicon.png">
<link rel="apple-touch-icon" href="{{ site.github_project_name }}/2016/images/favicon/favicon.png">
<link rel="icon" href="{{ site.github_project_name }}/2016/images/favicon/favicon-256.png" sizes="256x256" type="image/png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.github_project_name }}/2016/images/favicon/favicon-152.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.github_project_name }}/2016/images/favicon/favicon-144.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.github_project_name }}/2016/images/favicon/favicon-120.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.github_project_name }}/2016/images/favicon/favicon-114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.github_project_name }}/2016/images/favicon/favicon-72.png" />
<link rel="apple-touch-icon-precomposed" href="{{ site.github_project_name }}/2016/images/favicon/favicon-57.png" />

<!-- Bootstrap Core CSS -->
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Fonts -->
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Custom Theme CSS -->
<link href="{{ site.github_project_name }}/css/gophercon.css" rel="stylesheet">
<link href="{{ site.github_project_name }}/css/style-guide.css" rel="stylesheet">
<link href="{{ site.github_project_name }}/css/override-bootstrap-responsive.css" rel="stylesheet">
