<a href="#" data-toggle="modal" data-target="#niket">Joy of single purpose services in Go - Niket Patel</a>

<div class="modal fade bs-example-modal-lg" id="niket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Joy of single purpose services in Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 20th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 11:35 am to 12:00 noon (IST)
			</div>
			<p>This talk is based on his experience of integrating Go in his company's tech stack. They were primarily a Ruby shop; they have a large application written in Ruby which had some problems in scaling (only in some areas).</p>
			<p>Then they started to break the monolithic Ruby app into small single purpose Go services and worked beautifully for operations, support and customers.</p>
			<p>He will discuss where and when Go worked best, how Go was helpful as a spiritual companion to Ruby.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/niket-patel.jpg)"></div>
			<span class="name">Niket Patel</span>
            <span class="company"><a href="https://twitter.com/nexneo" target="_blank"><i class="fa fa-twitter fa-fw"></i> @nexneo</a></span>
			<hr />
            <div class="speaker-desc">Currently he works with a California based education startup. They develop products for schools and he's responsible for product development and key decision of technology stack and has been responsible for setting up local office and development team in India from scratch. Still big part of his day is about programming, and programming is his passion, so he's living his dream! He has been developing web based applications since last 9 years and proud of every singe line of code and when he's not he will refactor it sooner or later.<br /><br />Technology stack wise they have been using mainly Ruby but since last couple of years they have starting using Go heavily in day to day work and extremely pleased with that choice.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
