<a href="#" data-toggle="modal" data-target="#William">Go In Action - William Kennedy</a>

<div class="modal fade bs-example-modal-lg" id="William" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Go In Action</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 20th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 10:45 am to 11:10 am (IST)
			</div>
			<p>
				Watch Bill as he walks you through a coding example that will showcase the Go language and teach you idiomatic Go. Learn why many of 
				the coding decisions in the example are considered best practice 
				and how you can use these patterns and techniques to write better code yourself.
			</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/william.kennedy.jpg)"></div>
			<span class="name">William Kennedy</span>
            <span class="company"><a href="https://twitter.com/goinggodotnet" target="_blank"><i class="fa fa-twitter fa-fw"></i> @goinggodotnet</a></span>
			<hr />
            <div class="speaker-desc">
				William Kennedy is a managing partner at Ardan Studios in Miami, FL, a mobile and web app development company. He is also a co-author of the book <a href="http://www.goinactionbook.com/" target="_blank">Go In Action</a>, the author of the blog <a href="http://goinggo.net/" target="_blank">GoingGo.Net </a>and the organizer for the Go and MongoDB meetups in Miami. Bill is focused on Go education and through his new venture <a href="http://www.goinggotraining.net/" target="_blank">GoingoGo Training</a>, Bill continues the cause by working with individuals and groups who want to take their Go knowledge and coding skills to the next level.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>