<section id="speaker" class="content-section text-center download-section homepage">
  <div class="container">
    <h2 class="speaker-title">Speakers</h2>
    <p>The Talk Videos for GCI17 are viewable <a href="https://www.youtube.com/playlist?list=PLFjrjdmBd0CoclkJ_JdBET5fzz4u0SELZ" target="_blank">here</a>.</p>
    <p class="home-paragraph">We're looking for speakers who wish to give a talk at GopherCon India 2018. If you're interested kindly send your <a href="http://www.gophercon.in/call-for-proposal/" target="_blank">talk proposal</a> today.</p>
    <p class="home-paragraph last">We are accepting all types of talk proposals (related to Go) till <b>October 1st, 2017.</b></p>


    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/dave_appleton.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Dave Appleton</p>
          <p class="company"><a href="https://twitter.com/gobirdingEU" target="_blank">@gobirdingEU</a></p>
          <p class="about-speaker"></p>
        </div>
      </div>
    </div>
  </div>
</section>
