<section id="speakers" class="content-section text-center download-section homepage">
  <div class="container">
    <h2 class="speaker-title">Speakers</h2>
    <p>The Talk Videos for GCI17 are viewable <a href="https://www.youtube.com/playlist?list=PLFjrjdmBd0CoclkJ_JdBET5fzz4u0SELZ" target="_blank">here</a>.</p>
    <p class="home-paragraph">We're looking for speakers who wish to give a talk at GopherCon India 2018. If you're interested kindly send your <a href="http://www.gophercon.in/call-for-proposal/" target="_blank">talk proposal</a> today.</p>
    <p class="home-paragraph last">We are accepting all types of talk proposals (related to Go) till <b>December 16th, 2017.</b></p>

    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/abhishek-gahlot.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Abhishek Gahlot</p>
          <p class="company"><a href="https://twitter.com/_abhishekgahlot" target="_blank">@_abhishekgahlot</a></p>
          <p class="about-speaker">Abhishek worked for HackerRank for 2 years where Code Completion Infrastructure was built. He is currently working at Automattic in Data team on scaling Infrastructure of Automattic and WordPress.</p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/aditya.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Aditya Mukerjee</p>
          <p class="company"><a href="https://twitter.com/chimeracoder" target="_blank">@chimeracoder</a></p>
          <p class="about-speaker">Aditya is an engineer at Stripe on the Risk team, based in New York City. He studied statistics at Columbia and computer science at Cornell, and has been writing Go professionally for the past four years. When not defending users against online fraudsters, he spends his free time playing German-style board games and listening to embarrassing music. He <a href="https://youtu.be/s4e-cFhT620" target="_blank">spoke</a> at GopherConIndia 2016 and <a href="https://youtu.be/GFFEgPYaFqI" target="_blank">also at</a> GopherConIndia 2017.</p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/dave_appleton.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Dave Appleton</p>
          <p class="company"><a href="https://twitter.com/AppletonDave" target="_blank">@AppletonDave</a></p>
          <p class="about-speaker">Dave Appleton has been messing around with things since sometime before the dawn of time. Mentored by people with more technical expertise than interpersonal skills and business sense, Dave started programming in 1968 in FORTRAN, building audio systems about the same time and messing with digital logic in 1976. In the intervening time he has built world beating test systems, co-designed award winning products, run his own instrumentation company for over fifteen years, learned and actually used more than two dozen programming languages at a professional level, and taught courses from hobby to degree level on subjects as diverse as IOT, e-commerce and Image Processing. For the last three years he has been working on crypto currencies and financial technology.</p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/deepesh_naini.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Deepesh Naini</p>
          <p class="company"><a href="https://twitter.com/DeepeshNaini" target="_blank">@DeepeshNaini</a></p>
          <p class="about-speaker">Deepesh is lead product engineer at Go-Jek. He is a full stack developer with hands on experience on Android, Ios, React, Angular, OOJS, Node.js, Golang. His passion is to build cool products which can help scale a business and bring value to customers.</p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/mahadev_r.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Mahadevan Ramchandran</p>
          <p class="company"><a href="https://twitter.com/mdevanr" target="_blank">@mdevanr</a></p>
          <p class="about-speaker">
            Mahadevan Ramachandran is the technical co-founder and CEO of RapidLoop. In his career spanning more than 18 years, he has co-founded RapidLoop, a startup that creates cloud native solutions for server monitoring, database monitoring, service monitoring and app metric monitoring. He also served as game CTO for top Zynga titles (including Draw Something, Hidden Chronicles, ChefVille) reaching millions of players and led the engineering team that built and launched the first Zynga title from India (Hidden Shadows). Previously Mahadevan led development teams creating products for global businesses at Siemens, Philips, Emulex and EMC. He released his first FOSS in the early ‘90s - to India’s first BBS (CiX) and continues to be an active open source contributor.</p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/matt_ellis.png">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Matt Ellis</p>
          <p class="company"><a href="https://twitter.com/mellismi" target="_blank">@mellismi</a></p>
          <p class="about-speaker">
            Matt Ellis has been involved in the tech industry from a very early and has held a number of roles. Early in Matt’s career he spent the majority of his time on developing 3D rendering engines in both OpenGL and Direct3D. He also authored a number of technical manuals and books on the topic. During an independent consulting opportunity in Brazil, Matt authored two additional books with a focus on RESTful services and APIs. More recently, Matt works as a Sr. Product Manager & Head of Open Source Software at TIBCO Software, Inc where he focuses on product & strategy around Open Source and more specifically, Project Flogo, an open source edge microservices framework built entirely in Go.
          </p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/niranjan_paranjape.jpeg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Niranjan Paranjape</p>
          <p class="company"><a href="https://twitter.com/niranjan_p" target="_blank">@niranjan_p</a></p>
          <p class="about-speaker">Hacker. Director & Chief Architect <a href="https://twitter.com/gojekindonesia">@gojekindonesia</a>, S+SE Asia's fastest growing startup. Formerly: Founder and CTO, <a href="https://twitter.com/c42engineering"> @c42engineering</a>.</p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/nitish_sakhawalkar.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Nitish Sakhawalkar</p>
          <p class="company"><a href="https://twitter.com/nitsakh" target="_blank">@nitsakh</a></p>
          <p class="about-speaker">Born in Pune, Nitish is an engineer at Slack Technologies on the Native Clients Infrastructure Team in San Francisco, USA. He is a huge fan of typed, compiled languages and at Slack he works on cross-platform client applications in C++. Although relatively new to Go, his unique cross-platform experience has got him deeply involved in and experimenting with CGO. When not solving cross-platform application challenges, he spends time listening to Classical Indian music and practicing Reiki healing.</p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/piyush_verma.jpeg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Piyush Verma</p>
          <p class="company"><a href="https://twitter.com/meson10" target="_blank">@meson10</a></p>
          <p class="about-speaker">
            Piyush is a software consultant solving infrastructure and data engineering problems for over a decade. He likes almost all programming languages alike. He is a self-trained ultra-runner and connoisseur of silly jokes which he transmits over UDP.
          </p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/rajeev-bharshetty.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Rajeev Bharshetty</p>
          <p class="company"><a href="https://twitter.com/rBharshetty" target="_blank">@rBharshetty</a></p>
          <p class="about-speaker">
            Rajeev is working as a Product Engineer at GO-JEK. At GO-JEK, he is working on building Resilient Distributed systems at Scale. His primary focus and interest areas are Distributed Systems, Security and Data. He is a theoretical computer science nerd, interested in reading academic papers. He has open sourced some projects at github.com/rshetty. He is also Long distance Runner, Amateur Musician and an Avid Photographer.
          </p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/rishi_shah.png">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Rishi Shah</p>
          <p class="company"><a href="https://twitter.com/rishiloyola" target="_blank">@rishiloyola</a></p>
          <p class="about-speaker">
            Rishi is working as a Platform Engineer at Directi. In the past, he worked with CERN to implement new data transfer system for CMS experiment at the Large Hadron Collider. Nowadays he is writing a book on the practical use case of Elasticsearch database.
          </p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/rushabh.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Rushabh Dadbhawala</p>
          <p class="company"><a href="https://twitter.com/rishiloyola" target="_blank">@rishiloyola</a></p>
          <p class="about-speaker">
            Rushabh is solving problems using software since 15 years. He is well grounded in Object Orientation, Design Patterns and Software Architecture. He is both domain and technology agnostic; “tightly coupled” only to source code! At Continuum, Rushabh works with multiple teams to build the new product platform. Rushabh prefers to roll up the sleeves and get hands dirty with code. He is not what one would call a "white board architect".
          </p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/sanket_sudake.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Sanket Sudake</p>
          <p class="company"><a href="https://twitter.com/ssudake21" target="_blank">@ssudake21</a></p>
          <p class="about-speaker">
            Sanket works as Software Engineer at Infracloud Technologies. He has been using golang to develop different solutions around Kubernetes, Docker, IOT etc. He is also an active contributor to Openstack. His core interest areas are distributed systems and networking technologies. Prior to this he worked at Veritas as Linux Kernel Engineer.
          </p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/sean_kelly.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Sean Kelly</p>
          <p class="company"><a href="https://twitter.com/StabbyCutyou" target="_blank">@StabbyCutyou</a></p>
          <p class="about-speaker">
            Sean Kelly (affectionately known as Stabby) is a Lead Software Engineer and Engineering Manager for Rapid7. A simple man with a dog for an avatar, he enjoys learning new things, helping / mentoring others, and posting photos of his dog on the internet. When he's not giving talks, he enjoys spending time at home with his wife, taking his dog to the park, and coming up with new projects to work on that he will never actually finish.
          </p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/steve-francia.png">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Steve Francia</p>
          <p class="company"><a href="https://twitter.com/spf13" target="_blank">@spf13</a></p>
          <p class="about-speaker">
            Steve Francia has the unique distinction of having held leadership roles in 5 of the top 100 open source projects. He is currently at Google as a member of the Go language leadership team responsible for product and strategy. He also currently serves as a Director of the Drupal Association. He previously held executive roles at Docker and MongoDB where he led engineering, product and open source. He is the creator of Hugo, Cobra, Viper, spf13-vim and many additional open source projects. He is a published author, speaker, developer, and father of 4. Outside of technology Steve likes skateboarding, punk rock, and dystopian films.
          </p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/vishal_biyani.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Vishal Biyani</p>
          <p class="company"><a href="https://twitter.com/vishal_biyani" target="_blank">@vishal_biyani</a></p>
          <p class="about-speaker">Vishal is Founder and CTO at <a href="www.infracloud.io"> Infracloud technologies</a>. Vishal brings his experience as an engineer who has worked across the whole lifecycle of software development together to bring holistic view of systems and obsessive focus on reducing waste while delivering value. Vishal has worked with Fortune 500 enterprises as well as medium scale startups to bring best of technology & processes together. Vishal is currently focusing on serverless space by contributing to Fission serverless framework. When not at keyboard, Vishal can be found on flipping pages or behind bicycle pedals.</p>
        </div>
      </div>

      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/images/speakers/william.kennedy.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">William Kennedy</p>
          <p class="company"><a href="https://twitter.com/goinggodotnet" target="_blank">@goinggodotnet</a></p>
          <p class="about-speaker">William Kennedy is a managing partner at Ardan Studio in Miami, Florida, a mobile, web, and systems development company. He is also a co-author of the book Go in Action, the author of the blog <a href="http://goinggo.net/" target="_blank">GoingGo.Net</a>, and a founding member of GoBridge which is working to increase Go adoption through diversity. He spoke at GopherConIndia 2015 and 2017.</p>
        </div>
      </div>
    </div>
  </div>
</section>
