<section id="support" class="support-section homepage">
    <div class="container content-section">
        <h2 class="supporters-head">Supporters</h2>
        <div class="row">

            <div class="support-bg clearfix">

                <div class="col-md-3">
                    <div class="source-logo"><a href="//www.actiotech.com" target="_blank">
                        <img alt="actiotech" src="{{ site.github_project_name }}/images/supporter/actiotech.png" class="image-responsive"></a></div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo"><a href="//bigbinary.com" target="_blank">
                        <img alt="bigbinary" src="{{ site.github_project_name }}/images/supporter/bigbinary.png" class="image-responsive"></a></div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo"><a href="//www.coreos.com" target="_blank">
                        <img alt="coreos" src="{{ site.github_project_name }}/images/sponsors/coreos.png" class="image-responsive"></a></div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo"><a href="http://deltax.com/" target="_blank">
                        <img alt="deltax-big" src="{{ site.github_project_name }}/images/supporter/deltax.png" class="image-responsive"></a></div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="support-bg clearfix">

                <div class="col-md-3">
                    <div class="source-logo"><a href="http://www.goinggotraining.net" target="_blank">
                        <img alt="* GoingGo Training" src="{{ site.github_project_name }}/images/supporter/going-go-training.png" class="image-responsive" style="height: 80px" /></a></div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo"><a href="http://www.metacasts.tv/" target="_blank">
                        <img alt="metacasts.tv" src="{{ site.github_project_name }}/images/supporter/meta-casts.png" class="image-responsive" /></a></div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo"><a href="http://oreil.ly/GopherConIndia" target="_blank">
                        <img alt="oreilly" src="{{ site.github_project_name }}/images/supporter/oreilly.png" class="image-responsive"></a></div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo"><a href="http://bit.ly/PacktGCIn" target="_blank">
                        <img alt="packt publishing" src="{{ site.github_project_name }}/images/supporter/packt-publishing.png" class="image-responsive"></a></div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="support-bg clearfix">

                <div class="col-md-3">
                    <div class="source-logo"><a href="http://sourcegraph.com/" target="_blank">
                        <img alt="sourcegraph" src="{{ site.github_project_name }}/images/supporter/sourcegraph.png" class="image-responsive" /></a></div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo"><a href="//thenewstack.io/" target="_blank">
                        <img alt="The New Stack" src="{{ site.github_project_name }}/images/supporter/thenewstack.png" class="image-responsive"></a></div>
                </div>
            </div>
        </div>

    </div>
</section>
